#threadName:after
{
	font-size: 75%;
}

#threadName[data-board="bbynamazu"]:after{	content: "[地震>地震headline]";}
#threadName[data-board="namazuplus"]:after{	content: "[地震>地震速報]";}
#threadName[data-board="eq"]:after{	content: "[地震>臨時地震]";}
#threadName[data-board="eqplus"]:after{	content: "[地震>臨時地震+]";}
#threadName[data-board="lifeline"]:after{	content: "[地震>緊急自然災害]";}

#threadName[data-board="trafficinfo"]:after{	content: "[おすすめ>交通情報]";}
#threadName[data-board="bento"]:after{	content: "[おすすめ>弁当・駅弁]";}
#threadName[data-board="fish"]:after{	content: "[おすすめ>釣り]";}
#threadName[data-board="photo"]:after{	content: "[おすすめ>写真撮影]";}
#threadName[data-board="sousai"]:after{	content: "[おすすめ>冠婚葬祭]";}

#threadName[data-board="be"]:after{	content: "[be>面白ネタnews]";}
#threadName[data-board="nandemo"]:after{	content: "[be>なんでも質問]";}
#threadName[data-board="argue"]:after{	content: "[be>朝生]";}

#threadName[data-board="bbynews"]:after{	content: "[ニュース>速報headline]";}
#threadName[data-board="newsnavi.2ch.net"]:after{	content: "[ニュース>2NN+]";}
#threadName[data-board="bizplus"]:after{	content: "[ニュース>ビジネスnews+]";}
#threadName[data-board="newsplus"]:after{	content: "[ニュース>ニュース速報+]";}
#threadName[data-board="lifeline"]:after{	content: "[ニュース>緊急自然災害]";}
#threadName[data-board="wildplus"]:after{	content: "[ニュース>ニュース二軍+]";}
#threadName[data-board="moeplus"]:after{	content: "[ニュース>萌えニュース+]";}
#threadName[data-board="mnewsplus"]:after{	content: "[ニュース>芸スポ速報+]";}
#threadName[data-board="femnewsplus"]:after{	content: "[ニュース>ほのぼのnews+]";}
#threadName[data-board="dqnplus"]:after{	content: "[ニュース>痛いニュース+]";}
#threadName[data-board="scienceplus"]:after{	content: "[ニュース>科学ニュース+]";}
#threadName[data-board="owabiplus"]:after{	content: "[ニュース>お詫び+]";}
#threadName[data-board="liveplus"]:after{	content: "[ニュース>ニュース実況+]";}
#threadName[data-board="news"]:after{	content: "[ニュース>ニュース速報]";}
#threadName[data-board="trafficinfo"]:after{	content: "[ニュース>交通情報]";}
#threadName[data-board="musicnews"]:after{	content: "[ニュース>芸能音楽速報]";}
#threadName[data-board="comicnews"]:after{	content: "[ニュース>アニメ漫画速報]";}
#threadName[data-board="gamenews"]:after{	content: "[ニュース>ゲーム速報]";}
#threadName[data-board="pcnews"]:after{	content: "[ニュース>PCニュース]";}
#threadName[data-board="news7"]:after{	content: "[ニュース>私のニュース]";}
#threadName[data-board="archives"]:after{	content: "[ニュース>懐かしニュース]";}
#threadName[data-board="news2"]:after{	content: "[ニュース>ニュース議論]";}
#threadName[data-board="asia"]:after{	content: "[ニュース>ニュース極東]";}
#threadName[data-board="bakanews"]:after{	content: "[ニュース>バカニュース]";}
#threadName[data-board="editorial"]:after{	content: "[ニュース>社説]";}
#threadName[data-board="wikileaks"]:after{	content: "[WikiLeaks]";}

#threadName[data-board="kokusai"]:after{	content: "[世界情勢>国際情勢]";}
#threadName[data-board="war"]:after{	content: "[世界情勢>戦争・国防]";}
#threadName[data-board="news4plus"]:after{	content: "[世界情勢>東アジアnews+]";}
#threadName[data-board="news5"]:after{	content: "[世界情勢>イスラム情勢]";}
#threadName[data-board="iraq"]:after{	content: "[世界情勢>イラク情勢]";}
#threadName[data-board="africa"]:after{	content: "[世界情勢>アフリカ情勢]";}
#threadName[data-board="europa"]:after{	content: "[世界情勢>欧州・CIS情勢]";}
#threadName[data-board="news5plus"]:after{	content: "[世界情勢>ニュース国際+]";}
#threadName[data-board="dejima"]:after{	content: "[世界情勢>dejima]";}

#threadName[data-board="entrance"]:after{	content: "[案内>ラウンジ]";}
#threadName[data-board="entrance2"]:after{	content: "[案内>ﾗｳﾝｼﾞｸﾗｼｯｸ]";}
#threadName[data-board="qa"]:after{	content: "[案内>初心者の質問]";}
#threadName[data-board="pcqa"]:after{	content: "[案内>PC初心者]";}
#threadName[data-board="wiki"]:after{	content: "[案内>2chプロジェクト]";}
#threadName[data-board="goods"]:after{	content: "[案内>グッズリスト]";}
#threadName[data-board="gline"]:after{	content: "[案内>ガイドライン]";}
#threadName[data-board="event"]:after{	content: "[案内>イベント企画]";}
#threadName[data-board="2chse"]:after{	content: "[案内>2ch証券取引所]";}
#threadName[data-board="rank"]:after{	content: "[案内>いろいろランク]";}
#threadName[data-board="dataroom"]:after{	content: "[案内>資料室]";}
#threadName[data-board="vote"]:after{	content: "[案内>投票所]";}
#threadName[data-board="sato"]:after{	content: "[案内>忍者の里]";}

#threadName[data-board="operate"]:after{	content: "[運営>2ch運用情報]";}
#threadName[data-board="operatex"]:after{	content: "[運営>運用情報臨時]";}
#threadName[data-board="sec2ch"]:after{	content: "[運営>2ch規制情報]";}
#threadName[data-board="sec2chd"]:after{	content: "[運営>2ch規制議論]";}
#threadName[data-board="saku2ch"]:after{	content: "[運営>削除要請]";}
#threadName[data-board="saku"]:after{	content: "[運営>削除整理]";}
#threadName[data-board="sakud"]:after{	content: "[運営>削除議論]";}
#threadName[data-board="sakukb"]:after{	content: "[運営>削除知恵袋]";}

#threadName[data-board="intro"]:after{	content: "[馴れ合い>自己紹介]";}
#threadName[data-board="honobono"]:after{	content: "[馴れ合い>ほのぼの]";}
#threadName[data-board="yume"]:after{	content: "[馴れ合い>夢・独り言]";}
#threadName[data-board="offmatrix"]:after{	content: "[馴れ合い>大規模OFF]";}
#threadName[data-board="offreg"]:after{	content: "[馴れ合い>定期OFF]";}
#threadName[data-board="offevent"]:after{	content: "[馴れ合い>突発OFF]";}

#threadName[data-board="aasaloon"]:after{	content: "[AA>AAサロン]";}
#threadName[data-board="mona"]:after{	content: "[AA>モナー]";}
#threadName[data-board="nida"]:after{	content: "[AA>ニダー]";}
#threadName[data-board="aastory"]:after{	content: "[AA>AA長編]";}
#threadName[data-board="kao"]:after{	content: "[AA>顔文字]";}

#threadName[data-board="mass"]:after{	content: "[社会>マスコミ]";}
#threadName[data-board="youth"]:after{	content: "[社会>少年犯罪]";}
#threadName[data-board="disaster"]:after{	content: "[社会>自然災害]";}
#threadName[data-board="119"]:after{	content: "[社会>消防救急防災]";}
#threadName[data-board="gender"]:after{	content: "[社会>男性論女性論]";}
#threadName[data-board="giin"]:after{	content: "[社会>議員・選挙]";}
#threadName[data-board="manifesto"]:after{	content: "[社会>政治家語録]";}
#threadName[data-board="police"]:after{	content: "[社会>警察]";}
#threadName[data-board="court"]:after{	content: "[社会>裁判・司法]";}
#threadName[data-board="saibanin"]:after{	content: "[社会>裁判員制度]";}
#threadName[data-board="soc"]:after{	content: "[社会>社会・世評]";}
#threadName[data-board="atom"]:after{	content: "[社会>環境・電力]";}
#threadName[data-board="energy"]:after{	content: "[社会>エネルギー]";}
#threadName[data-board="river"]:after{	content: "[社会>河川・ダム等]";}
#threadName[data-board="traf"]:after{	content: "[社会>運輸・交通]";}
#threadName[data-board="way"]:after{	content: "[社会>道路・高速道路]";}
#threadName[data-board="develop"]:after{	content: "[社会>都市計画]";}
#threadName[data-board="recruit"]:after{	content: "[社会>就職]";}
#threadName[data-board="job"]:after{	content: "[社会>転職]";}
#threadName[data-board="volunteer"]:after{	content: "[社会>ボランティア]";}
#threadName[data-board="welfare"]:after{	content: "[社会>介護・福祉]";}
#threadName[data-board="mayor"]:after{	content: "[社会>地方自治知事]";}
#threadName[data-board="ftax"]:after{	content: "[社会>ふるさと納税]";}
#threadName[data-board="jsdf"]:after{	content: "[社会>自衛隊]";}
#threadName[data-board="nenga"]:after{	content: "[社会>郵便・郵政]";}
#threadName[data-board="lifework"]:after{	content: "[社会>生涯学習]";}
#threadName[data-board="regulate"]:after{	content: "[社会>通信行政]";}

#threadName[data-board="venture"]:after{	content: "[会社・職業>ベンチャー]";}
#threadName[data-board="manage"]:after{	content: "[会社・職業>経営学]";}
#threadName[data-board="management"]:after{	content: "[会社・職業>店舗運営]";}
#threadName[data-board="estate"]:after{	content: "[会社・職業>賃貸不動産]";}
#threadName[data-board="koumu"]:after{	content: "[会社・職業>公務員]";}
#threadName[data-board="shikaku"]:after{	content: "[会社・職業>法律勉強相談]";}
#threadName[data-board="lic"]:after{	content: "[会社・職業>資格全般]";}
#threadName[data-board="haken"]:after{	content: "[会社・職業>派遣業界]";}
#threadName[data-board="hoken"]:after{	content: "[会社・職業>保険業界]";}
#threadName[data-board="tax"]:after{	content: "[会社・職業>税金経理会計]";}
#threadName[data-board="exam"]:after{	content: "[会社・職業>会計全般試験]";}
#threadName[data-board="hosp"]:after{	content: "[会社・職業>病院・医者]";}
#threadName[data-board="bio"]:after{	content: "[会社・職業>医療業界]";}
#threadName[data-board="hikari"]:after{	content: "[会社・職業>光通信]";}
#threadName[data-board="dtp"]:after{	content: "[会社・職業>DTP・印刷]";}
#threadName[data-board="part"]:after{	content: "[会社・職業>アルバイト]";}
#threadName[data-board="koukoku"]:after{	content: "[会社・職業>広告業界]";}
#threadName[data-board="agri"]:after{	content: "[会社・職業>農林水産業]";}
#threadName[data-board="build"]:after{	content: "[会社・職業>建設住宅業界]";}
#threadName[data-board="industry"]:after{	content: "[会社・職業>製造業界]";}
#threadName[data-board="peko"]:after{	content: "[会社・職業>食品業界・問題]";}

#threadName[data-board="company"]:after{	content: "[裏社会>ちくり裏事情]";}
#threadName[data-board="bouhan"]:after{	content: "[裏社会>防犯・詐欺対策]";}
#threadName[data-board="antispam"]:after{	content: "[裏社会>架空請求・spam]";}
#threadName[data-board="ihou"]:after{	content: "[裏社会>薬・違法]";}
#threadName[data-board="ihan"]:after{	content: "[裏社会>違反の潰し方]";}

#threadName[data-board="expo"]:after{	content: "[文化>万博・地方博]";}
#threadName[data-board="subcal"]:after{	content: "[文化>サブカル]";}
#threadName[data-board="bun"]:after{	content: "[文化>創作文芸]";}
#threadName[data-board="mitemite"]:after{	content: "[文化>創作発表]";}
#threadName[data-board="poem"]:after{	content: "[文化>詩・ポエム]";}
#threadName[data-board="rongo"]:after{	content: "[文化>名言・格言]";}
#threadName[data-board="movie"]:after{	content: "[文化>映画一般・8mm]";}
#threadName[data-board="cinema"]:after{	content: "[文化>映画作品・人]";}
#threadName[data-board="rmovie"]:after{	content: "[文化>懐かし邦画]";}
#threadName[data-board="kinema"]:after{	content: "[文化>懐かし洋画]";}
#threadName[data-board="occult"]:after{	content: "[文化>オカルト]";}
#threadName[data-board="esp"]:after{	content: "[文化>超能力]";}
#threadName[data-board="sfx"]:after{	content: "[文化>特撮！]";}
#threadName[data-board="rsfx"]:after{	content: "[文化>昭和特撮]";}
#threadName[data-board="drama"]:after{	content: "[文化>演劇・舞台役者]";}
#threadName[data-board="siki"]:after{	content: "[文化>宝塚・四季]";}
#threadName[data-board="fortune"]:after{	content: "[文化>占い]";}
#threadName[data-board="uranai"]:after{	content: "[文化>占術理論実践]";}
#threadName[data-board="kyoto"]:after{	content: "[文化>神社・仏閣]";}
#threadName[data-board="gallery"]:after{	content: "[文化>美術鑑賞]";}
#threadName[data-board="rakugo"]:after{	content: "[文化>伝統芸能]";}
#threadName[data-board="ruins"]:after{	content: "[文化>世界遺産]";}
#threadName[data-board="emperor"]:after{	content: "[文化>皇室・王侯貴族]";}

#threadName[data-board="rikei"]:after{	content: "[学問・理系>理系全般]";}
#threadName[data-board="sci"]:after{	content: "[学問・理系>物理]";}
#threadName[data-board="life"]:after{	content: "[学問・理系>生物]";}
#threadName[data-board="bake"]:after{	content: "[学問・理系>化学]";}
#threadName[data-board="kikai"]:after{	content: "[学問・理系>機械・工学]";}
#threadName[data-board="denki"]:after{	content: "[学問・理系>電気・電子]";}
#threadName[data-board="robot"]:after{	content: "[学問・理系>ロボット技術]";}
#threadName[data-board="infosys"]:after{	content: "[学問・理系>情報システム]";}
#threadName[data-board="informatics"]:after{	content: "[学問・理系>情報学]";}
#threadName[data-board="sim"]:after{	content: "[学問・理系>シミュレート]";}
#threadName[data-board="nougaku"]:after{	content: "[学問・理系>農学]";}
#threadName[data-board="sky"]:after{	content: "[学問・理系>天文・気象]";}
#threadName[data-board="galileo"]:after{	content: "[学問・理系>宇宙]";}
#threadName[data-board="doctor"]:after{	content: "[学問・理系>医歯薬看護]";}
#threadName[data-board="kampo"]:after{	content: "[学問・理系>東洋医学]";}
#threadName[data-board="math"]:after{	content: "[学問・理系>数学]";}
#threadName[data-board="doboku"]:after{	content: "[学問・理系>土木・建築]";}
#threadName[data-board="material"]:after{	content: "[学問・理系>材料物性]";}
#threadName[data-board="space"]:after{	content: "[学問・理系>航空・船舶]";}
#threadName[data-board="future"]:after{	content: "[学問・理系>未来技術]";}
#threadName[data-board="wild"]:after{	content: "[学問・理系>野生生物]";}
#threadName[data-board="earth"]:after{	content: "[学問・理系>地球科学]";}

#threadName[data-board="psycho"]:after{	content: "[学問・文系>心理学]";}
#threadName[data-board="gengo"]:after{	content: "[学問・文系>言語学]";}
#threadName[data-board="dialect"]:after{	content: "[学問・文系>方言]";}
#threadName[data-board="pedagogy"]:after{	content: "[学問・文系>教育学]";}
#threadName[data-board="sociology"]:after{	content: "[学問・文系>社会学]";}
#threadName[data-board="economics"]:after{	content: "[学問・文系>経済学]";}
#threadName[data-board="book"]:after{	content: "[学問・文系>文学]";}
#threadName[data-board="poetics"]:after{	content: "[学問・文系>詩文学]";}
#threadName[data-board="history"]:after{	content: "[学問・文系>日本史]";}
#threadName[data-board="history2"]:after{	content: "[学問・文系>日本近代史]";}
#threadName[data-board="whis"]:after{	content: "[学問・文系>世界史]";}
#threadName[data-board="archeology"]:after{	content: "[学問・文系>考古学]";}
#threadName[data-board="min"]:after{	content: "[学問・文系>民俗・神話学]";}
#threadName[data-board="kobun"]:after{	content: "[学問・文系>古文・漢文]";}
#threadName[data-board="english"]:after{	content: "[学問・文系>ENGLISH]";}
#threadName[data-board="usa"]:after{	content: "[学問・文系>アメリカ]";}
#threadName[data-board="korea"]:after{	content: "[学問・文系>ハングル]";}
#threadName[data-board="china"]:after{	content: "[学問・文系>中国]";}
#threadName[data-board="taiwan"]:after{	content: "[学問・文系>台湾]";}
#threadName[data-board="geo"]:after{	content: "[学問・文系>地理・人類学]";}
#threadName[data-board="chiri"]:after{	content: "[学問・文系>地理お国自慢]";}
#threadName[data-board="gogaku"]:after{	content: "[学問・文系>外国語]";}
#threadName[data-board="art"]:after{	content: "[学問・文系>芸術デザイン]";}
#threadName[data-board="philo"]:after{	content: "[学問・文系>哲学]";}
#threadName[data-board="jurisp"]:after{	content: "[学問・文系>法学]";}
#threadName[data-board="shihou"]:after{	content: "[学問・文系>司法試験]";}

#threadName[data-board="kaden"]:after{	content: "[家電製品>家電製品]";}
#threadName[data-board="wm"]:after{	content: "[家電製品>ポータブルAV]";}
#threadName[data-board="vcamera"]:after{	content: "[家電製品>ビデオカメラ]";}
#threadName[data-board="bakery"]:after{	content: "[家電製品>調理家電]";}
#threadName[data-board="toilet"]:after{	content: "[家電製品>シャワートイレ]";}
#threadName[data-board="sony"]:after{	content: "[家電製品>ソニー]";}
#threadName[data-board="apple2"]:after{	content: "[家電製品>Apple]";}
#threadName[data-board="phs"]:after{	content: "[家電製品>携帯・ＰＨＳ]";}
#threadName[data-board="keitai"]:after{	content: "[家電製品>携帯機種]";}
#threadName[data-board="smartphone"]:after{	content: "[家電製品>スマートフォン]";}
#threadName[data-board="iPhone"]:after{	content: "[家電製品>iPhone]";}
#threadName[data-board="android"]:after{	content: "[家電製品>Android]";}
#threadName[data-board="chakumelo"]:after{	content: "[家電製品>携帯コンテンツ]";}
#threadName[data-board="appli"]:after{	content: "[家電製品>携帯電話ゲー]";}
#threadName[data-board="applism"]:after{	content: "[家電製品>スマホアプリ]";}
#threadName[data-board="dgoods"]:after{	content: "[家電製品>デジタルモノ]";}
#threadName[data-board="camera"]:after{	content: "[家電製品>カメラ]";}
#threadName[data-board="dcamera"]:after{	content: "[家電製品>デジカメ]";}
#threadName[data-board="av"]:after{	content: "[家電製品>AV機器]";}
#threadName[data-board="pav"]:after{	content: "[家電製品>ピュアAU]";}
#threadName[data-board="battery"]:after{	content: "[家電製品>電池等]";}

#threadName[data-board="seiji"]:after{	content: "[政治経済>政治]";}
#threadName[data-board="diplomacy"]:after{	content: "[政治経済>外交政策]";}
#threadName[data-board="trafficpolicy"]:after{	content: "[政治経済>交通政策]";}
#threadName[data-board="eco"]:after{	content: "[政治経済>経済]";}
#threadName[data-board="stock"]:after{	content: "[政治経済>株式]";}
#threadName[data-board="stockb"]:after{	content: "[政治経済>株個別銘柄]";}
#threadName[data-board="market"]:after{	content: "[政治経済>投資一般]";}
#threadName[data-board="livemarket1"]:after{	content: "[政治経済>市況1]";}
#threadName[data-board="livemarket2"]:after{	content: "[政治経済>市況2]";}
#threadName[data-board="deal"]:after{	content: "[政治経済>先物]";}
#threadName[data-board="koumei"]:after{	content: "[政治経済>創価・公明]";}
#threadName[data-board="kyousan"]:after{	content: "[政治経済>共産党]";}
#threadName[data-board="sisou"]:after{	content: "[政治経済>政治思想]";}
#threadName[data-board="kova"]:after{	content: "[政治経済>ゴーマニズム]";}
#threadName[data-board="money"]:after{	content: "[政治経済>金融]";}

#threadName[data-board="food"]:after{	content: "[食文化>食べ物]";}
#threadName[data-board="candy"]:after{	content: "[食文化>お菓子]";}
#threadName[data-board="juice"]:after{	content: "[食文化>ソフトドリンク]";}
#threadName[data-board="pot"]:after{	content: "[食文化>お茶・珈琲]";}
#threadName[data-board="cook"]:after{	content: "[食文化>料理]";}
#threadName[data-board="okome"]:after{	content: "[食文化>米・米加工品]";}
#threadName[data-board="yasai"]:after{	content: "[食文化>野菜・果物]";}
#threadName[data-board="kinoko"]:after{	content: "[食文化>きのこ]";}
#threadName[data-board="salt"]:after{	content: "[食文化>調味料]";}
#threadName[data-board="ramen"]:after{	content: "[食文化>ラーメン]";}
#threadName[data-board="nissin"]:after{	content: "[食文化>インスタント麺]";}
#threadName[data-board="jnoodle"]:after{	content: "[食文化>そば・うどん]";}
#threadName[data-board="sushi"]:after{	content: "[食文化>おすし]";}
#threadName[data-board="don"]:after{	content: "[食文化>丼]";}
#threadName[data-board="curry"]:after{	content: "[食文化>カレー]";}
#threadName[data-board="bread"]:after{	content: "[食文化>パン]";}
#threadName[data-board="pasta"]:after{	content: "[食文化>パスタ・ピザ]";}
#threadName[data-board="kbbq"]:after{	content: "[食文化>焼肉]";}
#threadName[data-board="konamono"]:after{	content: "[食文化>たこ焼き等]";}
#threadName[data-board="toba"]:after{	content: "[食文化>珍味]";}
#threadName[data-board="gurume"]:after{	content: "[食文化>グルメ外食]";}
#threadName[data-board="famires"]:after{	content: "[食文化>ファミレス]";}
#threadName[data-board="jfoods"]:after{	content: "[食文化>Ｂ級グルメ]";}
#threadName[data-board="bento"]:after{	content: "[食文化>弁当・駅弁]";}
#threadName[data-board="sake"]:after{	content: "[食文化>お酒・Bar]";}
#threadName[data-board="wine"]:after{	content: "[食文化>ワイン]";}
#threadName[data-board="drunk"]:after{	content: "[食文化>居酒屋]";}
#threadName[data-board="recipe"]:after{	content: "[食文化>レシピ]";}
#threadName[data-board="patissier"]:after{	content: "[食文化>製菓・製パン]";}
#threadName[data-board="supplement"]:after{	content: "[食文化>健康食・サプリ]";}

#threadName[data-board="lifesaloon"]:after{	content: "[生活>生活サロン]";}
#threadName[data-board="kankon"]:after{	content: "[生活>生活全般]";}
#threadName[data-board="okiraku"]:after{	content: "[生活>その日暮らし]";}
#threadName[data-board="homealone"]:after{	content: "[生活>一人暮らし]";}
#threadName[data-board="countrylife"]:after{	content: "[生活>田舎暮らし]";}
#threadName[data-board="debt"]:after{	content: "[生活>借金生活]";}
#threadName[data-board="inpatient"]:after{	content: "[生活>入院生活]";}
#threadName[data-board="sportsclub"]:after{	content: "[生活>スポーツクラブ]";}
#threadName[data-board="bath"]:after{	content: "[生活>お風呂・銭湯]";}
#threadName[data-board="anniversary"]:after{	content: "[生活>記念日]";}
#threadName[data-board="sousai"]:after{	content: "[生活>冠婚葬祭]";}
#threadName[data-board="baby"]:after{	content: "[生活>育児]";}
#threadName[data-board="kagu"]:after{	content: "[生活>家具]";}
#threadName[data-board="diy"]:after{	content: "[生活>DIY]";}
#threadName[data-board="shop"]:after{	content: "[生活>通販・買い物]";}
#threadName[data-board="hcenter"]:after{	content: "[生活>家電等量販店]";}
#threadName[data-board="used"]:after{	content: "[生活>中古リサイクル]";}
#threadName[data-board="rental"]:after{	content: "[生活>レンタル]";}
#threadName[data-board="trend"]:after{	content: "[生活>流行]";}
#threadName[data-board="ticketplus"]:after{	content: "[生活>Walker+]";}
#threadName[data-board="model"]:after{	content: "[生活>モデル]";}
#threadName[data-board="fashion"]:after{	content: "[生活>ファッション]";}
#threadName[data-board="underwear"]:after{	content: "[生活>下着]";}
#threadName[data-board="shoes"]:after{	content: "[生活>靴]";}
#threadName[data-board="female"]:after{	content: "[生活>化粧]";}
#threadName[data-board="diet"]:after{	content: "[生活>美容]";}
#threadName[data-board="mensbeauty"]:after{	content: "[生活>男の美容・化粧]";}
#threadName[data-board="aroma"]:after{	content: "[生活>香水芳香消臭]";}
#threadName[data-board="seikei"]:after{	content: "[生活>美容整形]";}
#threadName[data-board="shapeup"]:after{	content: "[生活>ダイエット]";}
#threadName[data-board="world"]:after{	content: "[生活>一般海外生活]";}
#threadName[data-board="northa"]:after{	content: "[生活>北米海外生活]";}
#threadName[data-board="credit"]:after{	content: "[生活>クレジット]";}
#threadName[data-board="point"]:after{	content: "[生活>ポイント・マイル]";}
#threadName[data-board="cafe30"]:after{	content: "[生活>３０代]";}
#threadName[data-board="cafe40"]:after{	content: "[生活>４０代]";}
#threadName[data-board="cafe50"]:after{	content: "[生活>５０代以上]";}
#threadName[data-board="cafe60"]:after{	content: "[生活>６０歳以上]";}
#threadName[data-board="live"]:after{	content: "[生活>家庭]";}
#threadName[data-board="souji"]:after{	content: "[生活>掃除全般]";}
#threadName[data-board="goki"]:after{	content: "[生活>害虫害獣対策]";}
#threadName[data-board="radiation"]:after{	content: "[生活>放射能]";}
#threadName[data-board="kechi2"]:after{	content: "[生活>ドケチ]";}
#threadName[data-board="chance"]:after{	content: "[生活>懸賞]";}
#threadName[data-board="cigaret"]:after{	content: "[生活>たばこ]";}
#threadName[data-board="megane"]:after{	content: "[生活>めがね]";}
#threadName[data-board="yuusen"]:after{	content: "[生活>マイライン]";}
#threadName[data-board="conv"]:after{	content: "[生活>コンビニ]";}
#threadName[data-board="sale"]:after{	content: "[生活>バーゲン]";}
#threadName[data-board="stationery"]:after{	content: "[生活>文房具]";}
#threadName[data-board="class"]:after{	content: "[生活>習い事]";}

#threadName[data-board="shar"]:after{	content: "[ネタ雑談>新シャア専用]";}
#threadName[data-board="x3"]:after{	content: "[ネタ雑談>旧シャア専用]";}
#threadName[data-board="denpa"]:after{	content: "[ネタ雑談>電波・お花畑]";}
#threadName[data-board="owarai"]:after{	content: "[ネタ雑談>お笑い小咄]";}
#threadName[data-board="2chbook"]:after{	content: "[ネタ雑談>同人ノウハウ]";}
#threadName[data-board="uwasa"]:after{	content: "[ネタ雑談>噂話]";}
#threadName[data-board="charaneta"]:after{	content: "[ネタ雑談>キャラネタ]";}
#threadName[data-board="charaneta2"]:after{	content: "[ネタ雑談>なりきりネタ]";}
#threadName[data-board="mascot"]:after{	content: "[ネタ雑談>マスコットキャラ]";}
#threadName[data-board="senji"]:after{	content: "[ネタ雑談>戦時]";}

#threadName[data-board="lovesaloon"]:after{	content: "[カテゴリ雑談>恋愛サロン]";}
#threadName[data-board="ex"]:after{	content: "[カテゴリ雑談>カップル]";}
#threadName[data-board="x1"]:after{	content: "[カテゴリ雑談>×１]";}
#threadName[data-board="gaysaloon"]:after{	content: "[カテゴリ雑談>同性愛サロン]";}
#threadName[data-board="nohodame"]:after{	content: "[カテゴリ雑談>のほほんダメ]";}
#threadName[data-board="dame"]:after{	content: "[カテゴリ雑談>無職・だめ]";}
#threadName[data-board="loser"]:after{	content: "[カテゴリ雑談>負け組]";}
#threadName[data-board="hikky"]:after{	content: "[カテゴリ雑談>ヒッキー]";}
#threadName[data-board="mental"]:after{	content: "[カテゴリ雑談>メンヘルサロン]";}
#threadName[data-board="single"]:after{	content: "[カテゴリ雑談>独身貴族]";}
#threadName[data-board="wom"]:after{	content: "[カテゴリ雑談>女性]";}
#threadName[data-board="sfe"]:after{	content: "[カテゴリ雑談>独身女性限定]";}
#threadName[data-board="wmotenai"]:after{	content: "[カテゴリ雑談>もてない女]";}
#threadName[data-board="ms"]:after{	content: "[カテゴリ雑談>既婚女性]";}
#threadName[data-board="male"]:after{	content: "[カテゴリ雑談>独身男性]";}
#threadName[data-board="motetai"]:after{	content: "[カテゴリ雑談>もてたい男]";}
#threadName[data-board="motenai"]:after{	content: "[カテゴリ雑談>モテない男性]";}
#threadName[data-board="alone"]:after{	content: "[カテゴリ雑談>孤独な男性]";}
#threadName[data-board="tomorrow"]:after{	content: "[カテゴリ雑談>既婚男性]";}
#threadName[data-board="employee"]:after{	content: "[カテゴリ雑談>リーマン]";}
#threadName[data-board="campus"]:after{	content: "[カテゴリ雑談>大学生活]";}
#threadName[data-board="student"]:after{	content: "[カテゴリ雑談>大学学部・研究]";}
#threadName[data-board="otaku"]:after{	content: "[カテゴリ雑談>おたく]";}
#threadName[data-board="nendai"]:after{	content: "[カテゴリ雑談>年代別]";}
#threadName[data-board="sepia"]:after{	content: "[カテゴリ雑談>セピア]";}
#threadName[data-board="gag"]:after{	content: "[カテゴリ雑談>駄洒落]";}
#threadName[data-board="575"]:after{	content: "[カテゴリ雑談>しりとり]";}
#threadName[data-board="tanka"]:after{	content: "[カテゴリ雑談>五七五・短歌]";}
#threadName[data-board="4649"]:after{	content: "[カテゴリ雑談>アウトロー]";}
#threadName[data-board="hidari"]:after{	content: "[カテゴリ雑談>左利き]";}

#threadName[data-board="bbylive"]:after{	content: "[実況ch>実況headline]";}
#threadName[data-board="tv2chwiki"]:after{	content: "[実況ch>テレビ番組欄]";}
#threadName[data-board="livesaturn"]:after{	content: "[実況ch>なんでも実況S]";}
#threadName[data-board="livevenus"]:after{	content: "[実況ch>なんでも実況V]";}
#threadName[data-board="livejupiter"]:after{	content: "[実況ch>なんでも実況J]";}
#threadName[data-board="liveuranus"]:after{	content: "[実況ch>なんでも実況U]";}
#threadName[data-board="endless"]:after{	content: "[実況ch>実況ch]";}
#threadName[data-board="weekly"]:after{	content: "[実況ch>番組ch]";}
#threadName[data-board="livewkwest"]:after{	content: "[実況ch>番組ch(西日本)]";}
#threadName[data-board="livenhk"]:after{	content: "[実況ch>番組ch(NHK)]";}
#threadName[data-board="liveetv"]:after{	content: "[実況ch>番組ch(教育)]";}
#threadName[data-board="liventv"]:after{	content: "[実況ch>番組ch(NTV)]";}
#threadName[data-board="livetbs"]:after{	content: "[実況ch>番組ch(TBS)]";}
#threadName[data-board="livecx"]:after{	content: "[実況ch>番組ch(フジ)]";}
#threadName[data-board="liveanb"]:after{	content: "[実況ch>番組ch(朝日)]";}
#threadName[data-board="livetx"]:after{	content: "[実況ch>番組ch(TX)]";}
#threadName[data-board="livebs"]:after{	content: "[実況ch>BS実況(NHK)]";}
#threadName[data-board="livebs2"]:after{	content: "[実況ch>BS実況(無料)]";}
#threadName[data-board="livewowow"]:after{	content: "[実況ch>BS実況(有料)]";}
#threadName[data-board="liveskyp"]:after{	content: "[実況ch>スカパー実況]";}
#threadName[data-board="liveradio"]:after{	content: "[実況ch>ラジオ実況]";}
#threadName[data-board="liveanime"]:after{	content: "[実況ch>アニメ特撮実況]";}
#threadName[data-board="kokkai"]:after{	content: "[実況ch>議会選挙実況]";}
#threadName[data-board="dome"]:after{	content: "[実況ch>スポーツch]";}
#threadName[data-board="livebase"]:after{	content: "[実況ch>野球ch]";}
#threadName[data-board="livefoot"]:after{	content: "[実況ch>サッカーch]";}
#threadName[data-board="oonna"]:after{	content: "[実況ch>五輪実況(女)]";}
#threadName[data-board="ootoko"]:after{	content: "[実況ch>五輪実況(男)]";}
#threadName[data-board="dancesite"]:after{	content: "[実況ch>芸能ch]";}
#threadName[data-board="festival"]:after{	content: "[実況ch>お祭りch]";}
#threadName[data-board="liveplus"]:after{	content: "[実況ch>ニュース実況+]";}
#threadName[data-board="jasmine"]:after{	content: "[実況ch>streaming実況]";}
#threadName[data-board="livemarket1"]:after{	content: "[実況ch>市況1]";}
#threadName[data-board="livemarket2"]:after{	content: "[実況ch>市況2]";}

#threadName[data-board="edu"]:after{	content: "[受験・学校>教育・先生]";}
#threadName[data-board="jsaloon"]:after{	content: "[受験・学校>大学受験サロン]";}
#threadName[data-board="kouri"]:after{	content: "[受験・学校>大学受験]";}
#threadName[data-board="juku"]:after{	content: "[受験・学校>学習塾・予備校]";}
#threadName[data-board="ojyuken"]:after{	content: "[受験・学校>お受験]";}
#threadName[data-board="senmon"]:after{	content: "[受験・学校>専門学校]";}
#threadName[data-board="design"]:after{	content: "[受験・学校>美術系学校]";}
#threadName[data-board="musicology"]:after{	content: "[受験・学校>音楽系学校]";}
#threadName[data-board="govexam"]:after{	content: "[受験・学校>公務員試験]";}

#threadName[data-board="hobby"]:after{	content: "[趣味>趣味一般]";}
#threadName[data-board="magic"]:after{	content: "[趣味>手品・曲芸]";}
#threadName[data-board="card"]:after{	content: "[趣味>トランプ]";}
#threadName[data-board="puzzle"]:after{	content: "[趣味>パズル]";}
#threadName[data-board="craft"]:after{	content: "[趣味>ハンドクラフト]";}
#threadName[data-board="toy"]:after{	content: "[趣味>おもちゃ]";}
#threadName[data-board="zoid"]:after{	content: "[趣味>ゾイド]";}
#threadName[data-board="watch"]:after{	content: "[趣味>時計・小物]";}
#threadName[data-board="smoking"]:after{	content: "[趣味>煙草銘柄・器具]";}
#threadName[data-board="knife"]:after{	content: "[趣味>刃物]";}
#threadName[data-board="doll"]:after{	content: "[趣味>お人形]";}
#threadName[data-board="engei"]:after{	content: "[趣味>園芸]";}
#threadName[data-board="dog"]:after{	content: "[趣味>犬猫大好き]";}
#threadName[data-board="pet"]:after{	content: "[趣味>ペット大好き]";}
#threadName[data-board="aquarium"]:after{	content: "[趣味>アクアリウム]";}
#threadName[data-board="goldenfish"]:after{	content: "[趣味>日本の淡水魚]";}
#threadName[data-board="insect"]:after{	content: "[趣味>昆虫・節足動物]";}
#threadName[data-board="cat"]:after{	content: "[趣味>生き物苦手]";}
#threadName[data-board="bike"]:after{	content: "[趣味>バイク]";}
#threadName[data-board="car"]:after{	content: "[趣味>車]";}
#threadName[data-board="kcar"]:after{	content: "[趣味>軽自動車]";}
#threadName[data-board="auto"]:after{	content: "[趣味>車種・メーカー]";}
#threadName[data-board="usedcar"]:after{	content: "[趣味>中古車]";}
#threadName[data-board="truck"]:after{	content: "[趣味>大型・特殊車両]";}
#threadName[data-board="army"]:after{	content: "[趣味>軍事]";}
#threadName[data-board="radio"]:after{	content: "[趣味>無線]";}
#threadName[data-board="train"]:after{	content: "[趣味>鉄道総合]";}
#threadName[data-board="rail"]:after{	content: "[趣味>鉄道路線・車両]";}
#threadName[data-board="jnr"]:after{	content: "[趣味>鉄道懐かし]";}
#threadName[data-board="ice"]:after{	content: "[趣味>鉄道(海外)]";}
#threadName[data-board="gage"]:after{	content: "[趣味>鉄道模型]";}
#threadName[data-board="bus"]:after{	content: "[趣味>バス・バス路線]";}
#threadName[data-board="airline"]:after{	content: "[趣味>エアライン]";}
#threadName[data-board="mokei"]:after{	content: "[趣味>模型・プラモ]";}
#threadName[data-board="radiocontrol"]:after{	content: "[趣味>RC（ラジコン)]";}
#threadName[data-board="gun"]:after{	content: "[趣味>サバゲー]";}
#threadName[data-board="fireworks"]:after{	content: "[趣味>花火]";}
#threadName[data-board="warhis"]:after{	content: "[趣味>三国志・戦国]";}
#threadName[data-board="chinahero"]:after{	content: "[趣味>中国英雄]";}
#threadName[data-board="sengoku"]:after{	content: "[趣味>戦国時代]";}
#threadName[data-board="nanminhis"]:after{	content: "[趣味>歴史難民]";}
#threadName[data-board="dance"]:after{	content: "[趣味>ダンス]";}
#threadName[data-board="bird"]:after{	content: "[趣味>野鳥観察]";}
#threadName[data-board="collect"]:after{	content: "[趣味>コレクション]";}
#threadName[data-board="photo"]:after{	content: "[趣味>写真撮影]";}

#threadName[data-board="sposaloon"]:after{	content: "[スポーツ一般>スポーツサロン]";}
#threadName[data-board="sports"]:after{	content: "[スポーツ一般>スポーツ]";}
#threadName[data-board="rsports"]:after{	content: "[スポーツ一般>懐かしスポーツ]";}
#threadName[data-board="stadium"]:after{	content: "[スポーツ一般>スポーツ施設]";}
#threadName[data-board="athletics"]:after{	content: "[スポーツ一般>陸上競技]";}
#threadName[data-board="gymnastics"]:after{	content: "[スポーツ一般>体操・新体操]";}
#threadName[data-board="muscle"]:after{	content: "[スポーツ一般>ウエイトトレ]";}
#threadName[data-board="noroma"]:after{	content: "[スポーツ一般>運動音痴]";}
#threadName[data-board="wsports"]:after{	content: "[スポーツ一般>冬スポーツ]";}
#threadName[data-board="ski"]:after{	content: "[スポーツ一般>スキースノボ]";}
#threadName[data-board="skate"]:after{	content: "[スポーツ一般>スケート]";}
#threadName[data-board="swim"]:after{	content: "[スポーツ一般>水泳]";}
#threadName[data-board="msports"]:after{	content: "[スポーツ一般>マリンスポーツ]";}
#threadName[data-board="boat"]:after{	content: "[スポーツ一般>船スポーツ]";}
#threadName[data-board="birdman"]:after{	content: "[スポーツ一般>空スポーツ]";}
#threadName[data-board="fish"]:after{	content: "[スポーツ一般>釣り]";}
#threadName[data-board="bass"]:after{	content: "[スポーツ一般>バス釣り]";}
#threadName[data-board="bicycle"]:after{	content: "[スポーツ一般>自転車]";}
#threadName[data-board="equestrian"]:after{	content: "[スポーツ一般>乗馬・馬術]";}
#threadName[data-board="f1"]:after{	content: "[スポーツ一般>ﾓｰﾀｰｽﾎﾟｰﾂ]";}
#threadName[data-board="olympic"]:after{	content: "[スポーツ一般>オリンピック]";}
#threadName[data-board="bullseye"]:after{	content: "[スポーツ一般>的スポーツ]";}
#threadName[data-board="parksports"]:after{	content: "[スポーツ一般>公園スポーツ]";}
#threadName[data-board="amespo"]:after{	content: "[スポーツ一般>アメスポ]";}
#threadName[data-board="cheerleading"]:after{	content: "[スポーツ一般>チア]";}
#threadName[data-board="xsports"]:after{	content: "[スポーツ一般>xsports]";}

#threadName[data-board="base"]:after{	content: "[球技>プロ野球]";}
#threadName[data-board="npb"]:after{	content: "[球技>球界改革議論]";}
#threadName[data-board="meikyu"]:after{	content: "[球技>野球殿堂]";}
#threadName[data-board="mlb"]:after{	content: "[球技>野球総合]";}
#threadName[data-board="hsb"]:after{	content: "[球技>高校野球]";}
#threadName[data-board="kyozin"]:after{	content: "[球技>アンチ球団]";}
#threadName[data-board="soccer"]:after{	content: "[球技>国内サッカー]";}
#threadName[data-board="eleven"]:after{	content: "[球技>日本代表蹴球]";}
#threadName[data-board="wc"]:after{	content: "[球技>ワールドカップ]";}
#threadName[data-board="football"]:after{	content: "[球技>海外サッカー]";}
#threadName[data-board="basket"]:after{	content: "[球技>バスケット]";}
#threadName[data-board="tennis"]:after{	content: "[球技>テニス]";}
#threadName[data-board="volley"]:after{	content: "[球技>バレーボール]";}
#threadName[data-board="ovalball"]:after{	content: "[球技>ラグビー]";}
#threadName[data-board="pingpong"]:after{	content: "[球技>卓球]";}
#threadName[data-board="gutter"]:after{	content: "[球技>ボウリング]";}
#threadName[data-board="golf"]:after{	content: "[球技>ゴルフ]";}
#threadName[data-board="billiards"]:after{	content: "[球技>ビリヤード]";}
#threadName[data-board="ballgame"]:after{	content: "[球技>その他球技]";}

#threadName[data-board="k1"]:after{	content: "[格闘技>格闘技]";}
#threadName[data-board="wres"]:after{	content: "[格闘技>プロレス]";}
#threadName[data-board="budou"]:after{	content: "[格闘技>武道・武芸]";}
#threadName[data-board="boxing"]:after{	content: "[格闘技>ボクシング]";}
#threadName[data-board="sumou"]:after{	content: "[格闘技>相撲]";}
#threadName[data-board="jyudo"]:after{	content: "[格闘技>伝統武術]";}

#threadName[data-board="oversea"]:after{	content: "[旅行・外出>海外旅行]";}
#threadName[data-board="21oversea"]:after{	content: "[旅行・外出>危ない海外]";}
#threadName[data-board="travel"]:after{	content: "[旅行・外出>国内旅行]";}
#threadName[data-board="hotel"]:after{	content: "[旅行・外出>ホテル･旅館]";}
#threadName[data-board="localfoods"]:after{	content: "[旅行・外出>土産物・特産物]";}
#threadName[data-board="tropical"]:after{	content: "[旅行・外出>トロピカル]";}
#threadName[data-board="onsen"]:after{	content: "[旅行・外出>温泉]";}
#threadName[data-board="park"]:after{	content: "[旅行・外出>遊園地]";}
#threadName[data-board="zoo"]:after{	content: "[旅行・外出>動物園・水族館]";}
#threadName[data-board="museum"]:after{	content: "[旅行・外出>博物館・美術館]";}
#threadName[data-board="out"]:after{	content: "[旅行・外出>登山キャンプ]";}

#threadName[data-board="tvsaloon"]:after{	content: "[テレビ等>テレビサロン]";}
#threadName[data-board="kouhaku"]:after{	content: "[テレビ等>年末年始番組]";}
#threadName[data-board="tv"]:after{	content: "[テレビ等>テレビ番組]";}
#threadName[data-board="natsutv"]:after{	content: "[テレビ等>懐かしテレビ]";}
#threadName[data-board="tvd"]:after{	content: "[テレビ等>テレビドラマ]";}
#threadName[data-board="nhkdrama"]:after{	content: "[テレビ等>大河ドラマ]";}
#threadName[data-board="natsudora"]:after{	content: "[テレビ等>懐かしドラマ]";}
#threadName[data-board="kin"]:after{	content: "[テレビ等>時代劇]";}
#threadName[data-board="am"]:after{	content: "[テレビ等>ラジオ番組]";}
#threadName[data-board="rradio"]:after{	content: "[テレビ等>懐かしラジオ]";}
#threadName[data-board="tv2"]:after{	content: "[テレビ等>海外テレビ]";}
#threadName[data-board="hanryu"]:after{	content: "[テレビ等>韓流]";}
#threadName[data-board="cs"]:after{	content: "[テレビ等>ケーブル放送]";}
#threadName[data-board="skyp"]:after{	content: "[テレビ等>スカパー]";}
#threadName[data-board="bs"]:after{	content: "[テレビ等>デジタル放送]";}
#threadName[data-board="nhk"]:after{	content: "[テレビ等>NHK]";}
#threadName[data-board="cm"]:after{	content: "[テレビ等>広告・ＣＭ]";}

#threadName[data-board="geino"]:after{	content: "[芸能>芸能]";}
#threadName[data-board="celebrity"]:after{	content: "[芸能>海外芸能人]";}
#threadName[data-board="4sama"]:after{	content: "[芸能>アジアエンタメ]";}
#threadName[data-board="kyon2"]:after{	content: "[芸能>懐かし芸能人]";}
#threadName[data-board="actor"]:after{	content: "[芸能>男性俳優]";}
#threadName[data-board="actress"]:after{	content: "[芸能>女優]";}
#threadName[data-board="geinoj"]:after{	content: "[芸能>U-15タレント]";}
#threadName[data-board="geinin"]:after{	content: "[芸能>お笑い芸人]";}
#threadName[data-board="ana"]:after{	content: "[芸能>アナウンサー]";}
#threadName[data-board="ami"]:after{	content: "[芸能>あみ＆あゆ]";}
#threadName[data-board="apple"]:after{	content: "[芸能>椎名林檎]";}
#threadName[data-board="ainotane"]:after{	content: "[芸能>モ娘（羊）]";}
#threadName[data-board="zurui"]:after{	content: "[芸能>モ娘（鳩）]";}
#threadName[data-board="mendol"]:after{	content: "[芸能>男性アイドル]";}
#threadName[data-board="idol"]:after{	content: "[芸能>女性アイドル]";}
#threadName[data-board="akb"]:after{	content: "[芸能>地下アイドル]";}
#threadName[data-board="ske"]:after{	content: "[芸能>ローカルアイドル]";}
#threadName[data-board="jan"]:after{	content: "[芸能>ジャニーズ]";}
#threadName[data-board="smap"]:after{	content: "[芸能>スマップ]";}
#threadName[data-board="jr"]:after{	content: "[芸能>ジャニーズ２]";}
#threadName[data-board="jr2"]:after{	content: "[芸能>ジャニーズJr]";}

#threadName[data-board="mj"]:after{	content: "[ギャンブル>麻雀・他]";}
#threadName[data-board="pachi"]:after{	content: "[ギャンブル>パチンコサロン]";}
#threadName[data-board="pachij"]:after{	content: "[ギャンブル>パチンコ店情報]";}
#threadName[data-board="pachik"]:after{	content: "[ギャンブル>パチンコ機種等]";}
#threadName[data-board="slot"]:after{	content: "[ギャンブル>スロットサロン]";}
#threadName[data-board="slotj"]:after{	content: "[ギャンブル>スロット店情報]";}
#threadName[data-board="slotk"]:after{	content: "[ギャンブル>スロット機種]";}
#threadName[data-board="keiba"]:after{	content: "[ギャンブル>競馬]";}
#threadName[data-board="uma"]:after{	content: "[ギャンブル>競馬２]";}
#threadName[data-board="keirin"]:after{	content: "[ギャンブル>競輪]";}
#threadName[data-board="kyotei"]:after{	content: "[ギャンブル>競艇]";}
#threadName[data-board="autorace"]:after{	content: "[ギャンブル>オートレース]";}
#threadName[data-board="gamble"]:after{	content: "[ギャンブル>ギャンブル]";}
#threadName[data-board="loto"]:after{	content: "[ギャンブル>宝くじ]";}

#threadName[data-board="gsaloon"]:after{	content: "[ゲーム>ゲームサロン]";}
#threadName[data-board="gamenews"]:after{	content: "[ゲーム>ゲーム速報]";}
#threadName[data-board="gameover"]:after{	content: "[ゲーム>家ゲー攻略]";}
#threadName[data-board="goveract"]:after{	content: "[ゲーム>家ゲACT攻略]";}
#threadName[data-board="goverrpg"]:after{	content: "[ゲーム>家ゲRPG攻略]";}
#threadName[data-board="gamerpg"]:after{	content: "[ゲーム>家ゲーRPG]";}
#threadName[data-board="ff"]:after{	content: "[ゲーム>FF・ドラクエ]";}
#threadName[data-board="gamesrpg"]:after{	content: "[ゲーム>家ゲーSRPG]";}
#threadName[data-board="gamerobo"]:after{	content: "[ゲーム>ロボットゲー]";}
#threadName[data-board="gal"]:after{	content: "[ゲーム>ギャルゲー]";}
#threadName[data-board="gboy"]:after{	content: "[ゲーム>女向ゲー大人]";}
#threadName[data-board="ggirl"]:after{	content: "[ゲーム>女向ゲー一般]";}
#threadName[data-board="gamespo"]:after{	content: "[ゲーム>スポーツ・RACE]";}
#threadName[data-board="gamehis"]:after{	content: "[ゲーム>歴史ゲーム]";}
#threadName[data-board="otoge"]:after{	content: "[ゲーム>音ゲー]";}
#threadName[data-board="gamefight"]:after{	content: "[ゲーム>格闘ゲーム]";}
#threadName[data-board="gamestg"]:after{	content: "[ゲーム>シューティング]";}
#threadName[data-board="gamef"]:after{	content: "[ゲーム>PCアクション]";}
#threadName[data-board="fly"]:after{	content: "[ゲーム>フライトシム]";}
#threadName[data-board="famicom"]:after{	content: "[ゲーム>家庭用ゲーム]";}
#threadName[data-board="zgame"]:after{	content: "[ゲーム>家ゲーZ区分]";}
#threadName[data-board="retro"]:after{	content: "[ゲーム>レトロゲーム]";}
#threadName[data-board="retro2"]:after{	content: "[ゲーム>家ゲーレトロ]";}
#threadName[data-board="game90"]:after{	content: "[ゲーム>レトロ32bit以上]";}
#threadName[data-board="arc"]:after{	content: "[ゲーム>アーケード]";}
#threadName[data-board="rarc"]:after{	content: "[ゲーム>アケゲーレトロ]";}
#threadName[data-board="amusement"]:after{	content: "[ゲーム>メダル・プライズ]";}
#threadName[data-board="gecen"]:after{	content: "[ゲーム>ゲーセン]";}
#threadName[data-board="game"]:after{	content: "[ゲーム>PCゲーム]";}
#threadName[data-board="gameama"]:after{	content: "[ゲーム>同人ゲーム]";}
#threadName[data-board="gameswf"]:after{	content: "[ゲーム>ブラウザゲーム]";}
#threadName[data-board="cgame"]:after{	content: "[ゲーム>卓上ゲーム]";}
#threadName[data-board="tcg"]:after{	content: "[ゲーム>TCG]";}
#threadName[data-board="bgame"]:after{	content: "[ゲーム>将棋・チェス]";}
#threadName[data-board="gamestones"]:after{	content: "[ゲーム>囲碁・オセロ]";}
#threadName[data-board="quiz"]:after{	content: "[ゲーム>クイズ雑学]";}
#threadName[data-board="ghard"]:after{	content: "[ゲーム>ハード・業界]";}
#threadName[data-board="gameurawaza"]:after{	content: "[ゲーム>裏技・改造]";}
#threadName[data-board="gamechara"]:after{	content: "[ゲーム>ゲームキャラ]";}
#threadName[data-board="gamemusic"]:after{	content: "[ゲーム>ゲーム音楽]";}

#threadName[data-board="handygame"]:after{	content: "[携帯型ゲーム>携帯ゲーソフト]";}
#threadName[data-board="handygover"]:after{	content: "[携帯型ゲーム>携帯ゲー攻略]";}
#threadName[data-board="handygrpg"]:after{	content: "[携帯型ゲーム>携帯ゲーRPG]";}
#threadName[data-board="poke"]:after{	content: "[携帯型ゲーム>ポケモン]";}
#threadName[data-board="wifi"]:after{	content: "[携帯型ゲーム>Wi-Fi]";}
#threadName[data-board="rhandyg"]:after{	content: "[携帯型ゲーム>携帯ゲーレトロ]";}
#threadName[data-board="pokechara"]:after{	content: "[携帯型ゲーム>携帯ゲーキャラ]";}

#threadName[data-board="mmonews"]:after{	content: "[ネットゲーム>ネトゲ速報]";}
#threadName[data-board="mmoqa"]:after{	content: "[ネットゲーム>ネトゲ質問]";}
#threadName[data-board="ogame"]:after{	content: "[ネットゲーム>ネトゲ実況]";}
#threadName[data-board="ogame2"]:after{	content: "[ネットゲーム>ネトゲ実況2]";}
#threadName[data-board="ogame3"]:after{	content: "[ネットゲーム>ネトゲ実況3]";}
#threadName[data-board="mmosaloon"]:after{	content: "[ネットゲーム>ネトゲサロン]";}
#threadName[data-board="netgame"]:after{	content: "[ネットゲーム>ネットゲーム]";}
#threadName[data-board="mmo"]:after{	content: "[ネットゲーム>大規模MMO]";}
#threadName[data-board="mmominor"]:after{	content: "[ネットゲーム>小規模MMO]";}

#threadName[data-board="comicnews"]:after{	content: "[漫画・小説等>アニメ漫画速報]";}
#threadName[data-board="asaloon"]:after{	content: "[漫画・小説等>アニメサロン]";}
#threadName[data-board="anime4vip"]:after{	content: "[漫画・小説等>アニメサロンex]";}
#threadName[data-board="anime"]:after{	content: "[漫画・小説等>アニメ]";}
#threadName[data-board="anime2"]:after{	content: "[漫画・小説等>アニメ２]";}
#threadName[data-board="anime3"]:after{	content: "[漫画・小説等>アニメ新作情報]";}
#threadName[data-board="ranime"]:after{	content: "[漫画・小説等>懐アニ昭和]";}
#threadName[data-board="ranimeh"]:after{	content: "[漫画・小説等>懐アニ平成]";}
#threadName[data-board="animovie"]:after{	content: "[漫画・小説等>アニメ映画]";}
#threadName[data-board="anichara"]:after{	content: "[漫画・小説等>アニキャラ総合]";}
#threadName[data-board="anichara2"]:after{	content: "[漫画・小説等>アニキャラ個別]";}
#threadName[data-board="cosp"]:after{	content: "[漫画・小説等>コスプレ]";}
#threadName[data-board="voice"]:after{	content: "[漫画・小説等>声優総合]";}
#threadName[data-board="voiceactor"]:after{	content: "[漫画・小説等>声優個人]";}
#threadName[data-board="doujin"]:after{	content: "[漫画・小説等>同人]";}
#threadName[data-board="comiket"]:after{	content: "[漫画・小説等>同人イベント]";}
#threadName[data-board="csaloon"]:after{	content: "[漫画・小説等>漫画サロン]";}
#threadName[data-board="comic"]:after{	content: "[漫画・小説等>漫画]";}
#threadName[data-board="rcomic"]:after{	content: "[漫画・小説等>懐かし漫画]";}
#threadName[data-board="ymag"]:after{	content: "[漫画・小説等>少年漫画]";}
#threadName[data-board="wcomic"]:after{	content: "[漫画・小説等>週刊少年漫画]";}
#threadName[data-board="gcomic"]:after{	content: "[漫画・小説等>少女漫画]";}
#threadName[data-board="4koma"]:after{	content: "[漫画・小説等>４コマ漫画]";}
#threadName[data-board="cchara"]:after{	content: "[漫画・小説等>漫画キャラ]";}
#threadName[data-board="sakura"]:after{	content: "[漫画・小説等>CCさくら]";}
#threadName[data-board="eva"]:after{	content: "[漫画・小説等>エヴァ]";}
#threadName[data-board="cartoon"]:after{	content: "[漫画・小説等>海外アニメ漫画]";}
#threadName[data-board="iga"]:after{	content: "[漫画・小説等>アニメ漫画業界]";}
#threadName[data-board="bookall"]:after{	content: "[漫画・小説等>文芸書籍サロン]";}
#threadName[data-board="magazin"]:after{	content: "[漫画・小説等>ライトノベル]";}
#threadName[data-board="mystery"]:after{	content: "[漫画・小説等>ミステリー]";}
#threadName[data-board="sf"]:after{	content: "[漫画・小説等>SF・FT・ホラー]";}
#threadName[data-board="litechara"]:after{	content: "[漫画・小説等>文芸キャラ]";}
#threadName[data-board="zassi"]:after{	content: "[漫画・小説等>雑誌]";}
#threadName[data-board="books"]:after{	content: "[漫画・小説等>一般書籍]";}
#threadName[data-board="ebooks"]:after{	content: "[漫画・小説等>電子書籍]";}
#threadName[data-board="ehon"]:after{	content: "[漫画・小説等>絵本]";}
#threadName[data-board="juvenile"]:after{	content: "[漫画・小説等>児童書]";}
#threadName[data-board="illustrator"]:after{	content: "[漫画・小説等>イラストレーター]";}

#threadName[data-board="musicnews"]:after{	content: "[音楽>芸能音楽速報]";}
#threadName[data-board="msaloon"]:after{	content: "[音楽>音楽サロン]";}
#threadName[data-board="mjsaloon"]:after{	content: "[音楽>邦楽サロン]";}
#threadName[data-board="musicj"]:after{	content: "[音楽>邦楽]";}
#threadName[data-board="musicjm"]:after{	content: "[音楽>邦楽男性ソロ]";}
#threadName[data-board="musicjf"]:after{	content: "[音楽>邦楽女性ソロ]";}
#threadName[data-board="musicjg"]:after{	content: "[音楽>邦楽グループ]";}
#threadName[data-board="natsumeloj"]:after{	content: "[音楽>懐メロ邦楽]";}
#threadName[data-board="enka"]:after{	content: "[音楽>演歌]";}
#threadName[data-board="mesaloon"]:after{	content: "[音楽>洋楽サロン]";}
#threadName[data-board="musice"]:after{	content: "[音楽>洋楽]";}
#threadName[data-board="natsumeloe"]:after{	content: "[音楽>懐メロ洋楽]";}
#threadName[data-board="music"]:after{	content: "[音楽>音楽一般]";}
#threadName[data-board="beatles"]:after{	content: "[音楽>ビートルズ]";}
#threadName[data-board="visual"]:after{	content: "[音楽>ヴィジュサロン]";}
#threadName[data-board="visualb"]:after{	content: "[音楽>ヴィジュバンド]";}
#threadName[data-board="dj"]:after{	content: "[音楽>ＤＪ・クラブ]";}
#threadName[data-board="disco"]:after{	content: "[音楽>ディスコ]";}
#threadName[data-board="randb"]:after{	content: "[音楽>R&B・SOUL]";}
#threadName[data-board="punk"]:after{	content: "[音楽>パンク]";}
#threadName[data-board="hrhm"]:after{	content: "[音楽>HR・HM]";}
#threadName[data-board="hiphop"]:after{	content: "[音楽>HIPHOP]";}
#threadName[data-board="techno"]:after{	content: "[音楽>TECHNO]";}
#threadName[data-board="progre"]:after{	content: "[音楽>プログレ]";}
#threadName[data-board="healmusic"]:after{	content: "[音楽>ヒーリング音楽]";}
#threadName[data-board="wmusic"]:after{	content: "[音楽>ワールド音楽]";}
#threadName[data-board="reggae"]:after{	content: "[音楽>レゲエ]";}
#threadName[data-board="classic"]:after{	content: "[音楽>ジャズ]";}
#threadName[data-board="fusion"]:after{	content: "[音楽>フュージョン]";}
#threadName[data-board="classical"]:after{	content: "[音楽>クラシック]";}
#threadName[data-board="contemporary"]:after{	content: "[音楽>現代音楽]";}
#threadName[data-board="nika"]:after{	content: "[音楽>エレクトロニカ]";}
#threadName[data-board="suisou"]:after{	content: "[音楽>吹奏楽]";}
#threadName[data-board="chorus"]:after{	content: "[音楽>合唱]";}
#threadName[data-board="doyo"]:after{	content: "[音楽>童謡・唱歌]";}
#threadName[data-board="asong"]:after{	content: "[音楽>アニソン等]";}
#threadName[data-board="soundtrack"]:after{	content: "[音楽>サントラ]";}
#threadName[data-board="karaok"]:after{	content: "[音楽>カラオケ]";}
#threadName[data-board="legend"]:after{	content: "[音楽>伝説の]";}
#threadName[data-board="minor"]:after{	content: "[音楽>インディーズ]";}
#threadName[data-board="band"]:after{	content: "[音楽>バンド]";}
#threadName[data-board="compose"]:after{	content: "[音楽>楽器・作曲]";}
#threadName[data-board="piano"]:after{	content: "[音楽>鍵盤楽器]";}

#threadName[data-board="healing"]:after{	content: "[心と身体>癒し]";}
#threadName[data-board="jinsei"]:after{	content: "[心と身体>人生相談]";}
#threadName[data-board="psy"]:after{	content: "[心と身体>心と宗教]";}
#threadName[data-board="body"]:after{	content: "[心と身体>身体・健康]";}
#threadName[data-board="stretch"]:after{	content: "[心と身体>マッサージ等]";}
#threadName[data-board="handicap"]:after{	content: "[心と身体>ハンディキャップ]";}
#threadName[data-board="cancer"]:after{	content: "[心と身体>癌・腫瘍]";}
#threadName[data-board="nanbyou"]:after{	content: "[心と身体>難病]";}
#threadName[data-board="infection"]:after{	content: "[心と身体>新型感染症]";}
#threadName[data-board="hiv"]:after{	content: "[心と身体>HIVサロン]";}
#threadName[data-board="atopi"]:after{	content: "[心と身体>アトピー]";}
#threadName[data-board="allergy"]:after{	content: "[心と身体>アレルギー]";}
#threadName[data-board="hage"]:after{	content: "[心と身体>ハゲ・ズラ]";}
#threadName[data-board="pure"]:after{	content: "[心と身体>純情恋愛]";}
#threadName[data-board="furin"]:after{	content: "[心と身体>不倫・浮気]";}
#threadName[data-board="gay"]:after{	content: "[心と身体>同性愛]";}
#threadName[data-board="utu"]:after{	content: "[心と身体>メンタルヘルス]";}
#threadName[data-board="break"]:after{	content: "[心と身体>失恋]";}

#threadName[data-board="pc2nanmin"]:after{	content: "[ＰＣ等>PCサロン]";}
#threadName[data-board="pcnews"]:after{	content: "[ＰＣ等>PCニュース]";}
#threadName[data-board="win"]:after{	content: "[ＰＣ等>Windows]";}
#threadName[data-board="jobs"]:after{	content: "[ＰＣ等>旧・mac]";}
#threadName[data-board="mac"]:after{	content: "[ＰＣ等>新・mac]";}
#threadName[data-board="os"]:after{	content: "[ＰＣ等>OS]";}
#threadName[data-board="desktop"]:after{	content: "[ＰＣ等>デスクトップ]";}
#threadName[data-board="pc"]:after{	content: "[ＰＣ等>パソコン一般]";}
#threadName[data-board="notepc"]:after{	content: "[ＰＣ等>ノートPC]";}
#threadName[data-board="jisaku"]:after{	content: "[ＰＣ等>自作PC]";}
#threadName[data-board="printer"]:after{	content: "[ＰＣ等>プリンタ]";}
#threadName[data-board="hard"]:after{	content: "[ＰＣ等>ハードウェア]";}
#threadName[data-board="cdr"]:after{	content: "[ＰＣ等>CD-R,DVD]";}
#threadName[data-board="software"]:after{	content: "[ＰＣ等>ソフトウェア]";}
#threadName[data-board="mobile"]:after{	content: "[ＰＣ等>モバイル]";}
#threadName[data-board="bsoft"]:after{	content: "[ＰＣ等>ビジネスsoft]";}
#threadName[data-board="unix"]:after{	content: "[ＰＣ等>UNIX]";}
#threadName[data-board="db"]:after{	content: "[ＰＣ等>データベース]";}
#threadName[data-board="linux"]:after{	content: "[ＰＣ等>Linux]";}
#threadName[data-board="prog"]:after{	content: "[ＰＣ等>プログラマー]";}
#threadName[data-board="tech"]:after{	content: "[ＰＣ等>プログラム]";}
#threadName[data-board="cg"]:after{	content: "[ＰＣ等>ＣＧ]";}
#threadName[data-board="dtm"]:after{	content: "[ＰＣ等>DTM]";}
#threadName[data-board="avi"]:after{	content: "[ＰＣ等>DTV]";}
#threadName[data-board="swf"]:after{	content: "[ＰＣ等>FLASH]";}
#threadName[data-board="gamedev"]:after{	content: "[ＰＣ等>ゲ製作技術]";}
#threadName[data-board="i4004"]:after{	content: "[ＰＣ等>昔のPC]";}

#threadName[data-board="internet"]:after{	content: "[ネット関係>インターネット]";}
#threadName[data-board="download"]:after{	content: "[ネット関係>Download]";}
#threadName[data-board="hp"]:after{	content: "[ネット関係>Web制作]";}
#threadName[data-board="affiliate"]:after{	content: "[ネット関係>Web収入]";}
#threadName[data-board="hosting"]:after{	content: "[ネット関係>レンタル鯖]";}
#threadName[data-board="mysv"]:after{	content: "[ネット関係>自宅サーバ]";}
#threadName[data-board="php"]:after{	content: "[ネット関係>WebProg]";}
#threadName[data-board="hack"]:after{	content: "[ネット関係>ネットワーク]";}
#threadName[data-board="sec"]:after{	content: "[ネット関係>セキュリティ]";}
#threadName[data-board="network"]:after{	content: "[ネット関係>通信技術]";}
#threadName[data-board="ipv6"]:after{	content: "[ネット関係>IPv6]";}
#threadName[data-board="friend"]:after{	content: "[ネット関係>ポスペ・irc]";}
#threadName[data-board="isp"]:after{	content: "[ネット関係>プロバイダー]";}
#threadName[data-board="netspot"]:after{	content: "[ネット関係>ネットカフェ]";}
#threadName[data-board="nifty"]:after{	content: "[ネット関係>Nifty]";}
#threadName[data-board="google"]:after{	content: "[ネット関係>Google]";}
#threadName[data-board="mmag"]:after{	content: "[ネット関係>メルマガ]";}
#threadName[data-board="nanmin"]:after{	content: "[ネット関係>難民]";}
#threadName[data-board="ad"]:after{	content: "[ネット関係>宣伝掲示板]";}
#threadName[data-board="esite"]:after{	content: "[ネット関係>ネットサービス]";}
#threadName[data-board="streaming"]:after{	content: "[ネット関係>YouTube]";}
#threadName[data-board="mstreaming"]:after{	content: "[ネット関係>携帯動画]";}
#threadName[data-board="mdis"]:after{	content: "[ネット関係>音楽配信]";}
#threadName[data-board="netradio"]:after{	content: "[ネット関係>ネットラジオ等]";}
#threadName[data-board="blog"]:after{	content: "[ネット関係>ブログ]";}
#threadName[data-board="sns"]:after{	content: "[ネット関係>ソーシャルネット]";}
#threadName[data-board="net"]:after{	content: "[ネット関係>ネットwatch]";}
#threadName[data-board="twwatch"]:after{	content: "[ネット関係>ツイッター観察]";}
#threadName[data-board="yahoo"]:after{	content: "[ネット関係>オークション]";}
#threadName[data-board="nntp"]:after{	content: "[ネット関係>nntp]";}

#threadName[data-board="bobby"]:after{	content: "[雑談系２>おいらロビー]";}
#threadName[data-board="lobby"]:after{	content: "[雑談系２>ロビー]";}
#threadName[data-board="maru"]:after{	content: "[雑談系２>●]";}
#threadName[data-board="mog2"]:after{	content: "[雑談系２>なんでもあり]";}
#threadName[data-board="mukashi"]:after{	content: "[雑談系２>昔]";}
#threadName[data-board="kitchen"]:after{	content: "[雑談系２>厨房！]";}
#threadName[data-board="tubo"]:after{	content: "[雑談系２>最悪]";}
#threadName[data-board="joke"]:after{	content: "[雑談系２>学歴]";}
#threadName[data-board="shugi"]:after{	content: "[雑談系２>主義・主張]";}
#threadName[data-board="rights"]:after{	content: "[雑談系２>人権問題]";}
#threadName[data-board="accuse"]:after{	content: "[雑談系２>2ch批判要望]";}
#threadName[data-board="morningcoffee"]:after{	content: "[雑談系２>モ娘（狼）]";}
#threadName[data-board="ranking"]:after{	content: "[雑談系２>格付け]";}
#threadName[data-board="record"]:after{	content: "[雑談系２>新記録・珍記録]";}
#threadName[data-board="siberia"]:after{	content: "[雑談系２>シベリア超速報]";}
#threadName[data-board="news4vip"]:after{	content: "[雑談系２>ニュー速VIP]";}
#threadName[data-board="news4viptasu"]:after{	content: "[雑談系２>ニュー速VIP+]";}
#threadName[data-board="poverty"]:after{	content: "[雑談系２>ニュー速(嫌儲)]";}
#threadName[data-board="heaven4vip"]:after{	content: "[雑談系２>天国]";}
#threadName[data-board="neet4vip"]:after{	content: "[雑談系２>ニー速]";}
#threadName[data-board="aniki"]:after{	content: "[雑談系２>ガチホモ]";}

#threadName[data-board="bbypink"]:after{	content: "[BBSPINK>PINKheadline]";}
#threadName[data-board="hnews"]:after{	content: "[BBSPINK>ピンクニュース]";}
#threadName[data-board="pinkqa"]:after{	content: "[BBSPINK>pink初心者]";}
#threadName[data-board="sureh"]:after{	content: "[BBSPINK>スレH・エロ会話]";}
#threadName[data-board="erolive"]:after{	content: "[BBSPINK>大人の実況]";}
#threadName[data-board="hneta"]:after{	content: "[BBSPINK>えっちねた]";}
#threadName[data-board="pinkcafe"]:after{	content: "[BBSPINK>PINKのおいらロ]";}
#threadName[data-board="eromog2"]:after{	content: "[BBSPINK>PINKのなんでも]";}
#threadName[data-board="ogefin"]:after{	content: "[BBSPINK>お下品]";}
#threadName[data-board="pinknanmin"]:after{	content: "[BBSPINK>ぴんく難民]";}
#threadName[data-board="erobbs"]:after{	content: "[BBSPINK>pink秘密基地]";}
#threadName[data-board="housekeeping"]:after{	content: "[BBSPINK>PINK削除依頼]";}
#threadName[data-board="ccc"]:after{	content: "[BBSPINK>PINK規制議論]";}
#threadName[data-board="21oversea2"]:after{	content: "[BBSPINK>大人の海外]";}
#threadName[data-board="hgame"]:after{	content: "[BBSPINK>エロゲー]";}
#threadName[data-board="hgame2"]:after{	content: "[BBSPINK>エロゲー作品別]";}
#threadName[data-board="erog"]:after{	content: "[BBSPINK>エロゲネタ]";}
#threadName[data-board="leaf"]:after{	content: "[BBSPINK>Leaf・key]";}
#threadName[data-board="adultsite"]:after{	content: "[BBSPINK>アダルトサイト]";}
#threadName[data-board="webmaster"]:after{	content: "[BBSPINK>ウェブマスター]";}
#threadName[data-board="avideo"]:after{	content: "[BBSPINK>AV総合]";}
#threadName[data-board="avideo2"]:after{	content: "[BBSPINK>AV女優]";}
#threadName[data-board="nude"]:after{	content: "[BBSPINK>ヌード・エロ本]";}
#threadName[data-board="eroanime"]:after{	content: "[BBSPINK>エロアニメ等]";}
#threadName[data-board="erocomic"]:after{	content: "[BBSPINK>エロ漫画小説]";}
#threadName[data-board="erodoujin"]:after{	content: "[BBSPINK>エロ同人]";}
#threadName[data-board="natuero"]:after{	content: "[BBSPINK>懐かしエロ]";}
#threadName[data-board="kgirls"]:after{	content: "[BBSPINK>韓国美人]";}
#threadName[data-board="erocosp"]:after{	content: "[BBSPINK>エロコスプレ]";}
#threadName[data-board="eroacademy"]:after{	content: "[BBSPINK>PINKな学問]";}
#threadName[data-board="mcheck"]:after{	content: "[BBSPINK>健康相談(大人)]";}
#threadName[data-board="couple"]:after{	content: "[BBSPINK>夫婦生活]";}
#threadName[data-board="kageki"]:after{	content: "[BBSPINK>過激な恋愛]";}
#threadName[data-board="kageki2"]:after{	content: "[BBSPINK>大人の恋愛]";}
#threadName[data-board="onatech"]:after{	content: "[BBSPINK>オナテク]";}
#threadName[data-board="loveho"]:after{	content: "[BBSPINK>ラブホテル]";}
#threadName[data-board="adultgoods"]:after{	content: "[BBSPINK>アダルトグッズ]";}
#threadName[data-board="adultaccessory"]:after{	content: "[BBSPINK>大人の飾り]";}
#threadName[data-board="sm"]:after{	content: "[BBSPINK>ＳＭ]";}
#threadName[data-board="feti"]:after{	content: "[BBSPINK>フェチ]";}
#threadName[data-board="mature"]:after{	content: "[BBSPINK>熟女]";}
#threadName[data-board="okama"]:after{	content: "[BBSPINK>おかま・おなべ]";}
#threadName[data-board="gaypink"]:after{	content: "[BBSPINK>大人の同性愛]";}
#threadName[data-board="lesbian"]:after{	content: "[BBSPINK>レズ・百合萌え]";}
#threadName[data-board="eroaa"]:after{	content: "[BBSPINK>エロAA]";}
#threadName[data-board="erochara"]:after{	content: "[BBSPINK>キャラサロン]";}
#threadName[data-board="erochara2"]:after{	content: "[BBSPINK>オリキャラ]";}
#threadName[data-board="801"]:after{	content: "[BBSPINK>８０１]";}
#threadName[data-board="erocg"]:after{	content: "[BBSPINK>お絵描き・創作]";}
#threadName[data-board="eroparo"]:after{	content: "[BBSPINK>エロパロ]";}
#threadName[data-board="ascii"]:after{	content: "[BBSPINK>半角文字列]";}
#threadName[data-board="ascii2d"]:after{	content: "[BBSPINK>半角二次元]";}
#threadName[data-board="ascii2kana"]:after{	content: "[BBSPINK>半角かな]";}
#threadName[data-board="girls"]:after{	content: "[BBSPINK>アイドル画像]";}
#threadName[data-board="sportgirls"]:after{	content: "[BBSPINK>スポーツ画像]";}
#threadName[data-board="club"]:after{	content: "[BBSPINK>風俗全般]";}
#threadName[data-board="pub"]:after{	content: "[BBSPINK>お水出会い系]";}
#threadName[data-board="host"]:after{	content: "[BBSPINK>ホストクラブ]";}
#threadName[data-board="nuki"]:after{	content: "[BBSPINK>へるす]";}
#threadName[data-board="soap"]:after{	content: "[BBSPINK>ソープ]";}
#threadName[data-board="neet4pink"]:after{	content: "[BBSPINK>ニー速(pink)]";}
#threadName[data-board="cherryboy"]:after{	content: "[BBSPINK>童貞]";}
#threadName[data-board="megami"]:after{	content: "[BBSPINK>女神]";}
#threadName[data-board="bbbb"]:after{	content: "[BBSPINK>English]";}

#threadName[data-board="machi.hokkaidou"]:after{	content: "[まちBBS>北海道<]";}
#threadName[data-board="machi.touhoku"]:after{	content: "[まちBBS>東北<]";}
#threadName[data-board="machi.kousinetu"]:after{	content: "[まちBBS>北陸・甲信越]]";}
#threadName[data-board="machi.kanto"]:after{	content: "[まちBBS>関東";}
#threadName[data-board="machi.tokyo"]:after{	content: "[まちBBS>東京]";}
#threadName[data-board="machi.tama"]:after{	content: "[まちBBS>多摩]";}
#threadName[data-board="machi.kana"]:after{	content: "[まちBBS>神奈川]";}
#threadName[data-board="machi.toukai"]:after{	content: "[まちBBS>東海]";}
#threadName[data-board="machi.kinki"]:after{	content: "[まちBBS>近畿]";}
#threadName[data-board="machi.osaka"]:after{	content: "[まちBBS>大阪]";}
#threadName[data-board="machi.cyugoku"]:after{	content: "[まちBBS>中国]";}
#threadName[data-board="machi.sikoku"]:after{	content: "[まちBBS>四国]";}
#threadName[data-board="machi.kyusyu"]:after{	content: "[まちBBS>九州]";}
#threadName[data-board="machi.okinawa"]:after{	content: "[まちBBS>沖縄<]";}



