/*
	z-index:
		#headBar	1000
		#ViewerContainer 1000
		.popup           1250
		.overlay         1500
*/
body
{
	margin: 0;
	padding: 0;
	background-color:#F8F8F8;
	overflow-y: scroll;
}
body[data-contents-overlay="y"]
{
	overflow-y: hidden;
}

/* 面倒なので使うブロック要素のデフォルトは全部マージンもパディングも0 */
div, p, session, article, nav, aside, ul, li, h1, h2, iframe, canvas
{
	margin: 0;
	padding: 0;
	border: none;
}
button
{
	vertical-align: top;
}
/* なんかのコンテナにspan.contentとspan.spaceを入れるとspaceを伸ばして余白を埋める */
span.content
{
	display: table-cell;
	white-space: nowrap;
	padding-right: 1em;
}
span.space
{
	width: 100%;
	display: table-cell;
}

/* 画像が回転する */
/* 1毎の画像をくるくる回すには、div.riの中に画像を１つだけ入れる。 */
.ri
{
	/* 回転するのに必要な分だけスペースが確保されるようなので、サイズを指定するべき */
	height: 16px;
	width: 16px;
	-moz-animation: turnImage 1s linear 5;
}
/* 2枚の画像でくるくる回すには、div.rcの中に画像を２枚入れる。 */
.rc
{
	display: block;
	position: relative;
	height: 16px;
	width: 16px;
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateX(0) rotateY(0) rotateZ(0);
	-moz-animation: turnImage 1s linear 5;
}
.rc img:nth-child(1)
{
	position: absolute; 
	-moz-backface-visibility: visible;
	-moz-transform:  translateZ(.1px);
}
.rc img:nth-child(2)
{
	position: absolute; 
	-moz-backface-visibility: visible;
	-moz-transform:  rotateY(180deg) translateZ(.1px);
}

/* ドロップダウンメニュー(16pxの画像ボタン入り) */
.menu
{
	position: relative;
	display: table-cell;
}
		.menu ul {
			display:block;
			list-style-type: none;
			margin:0;
			padding:0;
		}
		.menu ul ul{
			display:none;
			position:absolute;
			top:100%;
			left:0;
		}
		.menu li {
			float:left;
			line-height: 100%;
		}
		
		.menu li li {
			clear:both;
		}
		
		.menu li:hover {
			position:relative;
		}
		
		.menu li:hover > ul {
			display: block
		}
		.menu button
		{
			width: 16px;
			height: 16px;
			margin: 0px 1px;
			border: none;
			background-color: transparent;
		}

/* ヘッダのバー */
#headBar
{
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 1000;
}


	/* スレタイ表示部 */
	#thtitle
	{
		color: #FFF;
		margin: 0;
		font-size: 16px;
		text-shadow:0px 0px 2px #FFF;
		line-height: 20px;
		width: 100%;
		border-bottom-left-radius: 5px;
		background: -moz-linear-gradient(top, #848484 0%, #4F4F4F 50%, #3C3C3C 50%, #444444 100%);
	}
		
		/* スレッドfavicon */
		#boardfavicon
		{
			position: relative;
			top: 2px;
			left: 2px;
			width: 16px;
			height: 16px;
		}
		#threadName:after
		{
			font-size: 70%;
			color: #DDD;
			content: "["  attr(data-board-name) "]";
		}
		/* <a> */
		/* #bpHandle */

	/* 操作ボタンたち */
	#ctrlbox
	{
		float: right;
		height: 0px;
		top: -20px;
		padding: 0px 8px 0px 8px;
	}
		#ctrlbox li
		{
		}
		#ctrlbox li:hover
		{
			background-color: #333;
		}
		#ctrlbox ul ul
		{
			background-color: #666;
		}

/* スレ一覧ペイン */
#boardPane
{
	height: 0;
	background-color: #333;
}
	#boardList
	{
		width:100%;
		height:100%;
		overflow:auto;
		background-color: #CFF;
	}

#resContainer
{
	padding-top: 24px; /* 最低でも#thtitleのheight以上ないと絶対に見切れる */
	padding-left: 1em;
}
/* レス */
.res
{
	position: relative;
	clear: both;
}
	.res:after
	{
		display: block;
		clear: both;
		content: "";
	}
	article[data-ng="y"],
	article[data-ng="y"] a,
	article[data-ignored="y"],
	article[data-ignored="y"] a
	{
		color: #CCC !important;
	}
	article[data-ng="y"] .id,
	article[data-ignored="y"] .id
	{
		background-color: transparent !important;
		color: #CCC !important;
	}
	article[data-ng="y"] .ct,
	article[data-ignored="y"] .ct
	{
		display: none;
	}
	article[data-ng="y"]:after
	{
		margin: 6px 1em;
		content: "あぼーん";
	}
	article[data-ignored="y"]:after
	{
		margin: 6px 1em;
		content: "あぼーん(スキン設定)";
	}
	article[data-backward="y"]
	{
		background-color: #DDD;
	}

/* レスヘッダ */
h2
{
	margin: 0;
	padding: 0;
	font-size: 80%;
	margin-top: 6px;
	white-space:nowrap;
	font-weight: normal;
}
	article[data-focus="on"]
	{
		-moz-animation: focusFade 1s 0s linear 1;
	}

	h2 > * 
	{
		display: table-cell;
	}
	h2
	{
		border-top: solid 1px #9F9;
		border-left: solid 3px #9F9;
		border-color: #99F;
	}
	article[data-new="y"] > h2
	{
		border-color: #F99;
	}
	article[data-ng="y"] > h2,
	article[data-ignored="y"] > h2
	{
		border-color: #CCC;
	}
	article[data-has-reply="y"]  .no
	{
		font-family: "Arial Black", sans-serif;
		font-weight:  bold;
	}
	article[data-bm="y"] > h2
	{
		border-color: #F9F;
	}
	article[data-pickuped="y"] > h2
	{
		border-color: #00C;
	}
	.no
	{
		padding-left: 2px;
		width: 4em;
		font-family: monospace;
	}
	.dt
	{
		width: 12em;
		font-family: monospace;
	}
	.id
	{
		width: 6em;
		font-family: monospace;
		font-weight: normal;
		text-align: center;
	}
	.id:before
	{
		/* content: "ID:" */
	}
	.nm
	{
		padding-left: 1em;
	}
		.nm a:link{
			color:red;
		}
		.nm a[href*="sage"]:link{
			color:blue;
		}
		.nm a[href="mailto:sage"]:link{
			color:purple;
		}
	.bi
	{
	}
	.ml
	{
		color: #888;
	}
		.ml:before
		{
			content: " [";
		}
		.ml:after
		{
			content: "] ";
		}
		.ml[title="sage"]
		{
			--display: none;
		}
		.mis
		{
			width: 180px;
		}

	#resMenu	/* (h1の最後の要素になる) */
	{
		position: absolute;
		right: 0px;
		top: 1px;
		padding-right:6px;
	}
		/* レスメニュー上のブックマークボタン切り替え */
		.bmon { display: none; }
		.bmoff{ display: inline; }
		#Menu_Bookmark[data-bm^="y"]+ul .bmon { display: inline; }
		article[data-bm="y"] .bmon { display:inline; }
		article[data-bm="y"] .bmoff{ display:none; }
		#Menu_Bookmark
		{
			position: relative;
			background-image: -moz-image-rect(url(buttons.png), 16, 64, 32, 48);
		}
		#Menu_Bookmark[data-bm="y"]{ background-image: -moz-image-rect(url(buttons.png), 16, 16, 32,  0); }
		#Menu_Bookmark[data-bm="yb"]{ background-image: -moz-image-rect(url(buttons.png), 16, 32, 32, 16); }
		#Menu_Bookmark[data-bm="ya"]{ background-image: -moz-image-rect(url(buttons.png), 16, 48, 32, 32); }
		#Menu_Bookmark[data-bm^="y"]:after
		{
			content: attr(data-bmn);
			position:absolute;
			font-size: 8px;
			color: #FFF;
			font-family: monospace;
			font-weight: bold;
			width: 16px;
			left: 0px;
			text-align: right;
		}

		/* レスメニュー上のピックアップボタン切り替え */
		.pickon { display: none; }
		.pickoff{ display: inline; }
		#ctrlbox li[data-pk="y"] > .pickon { display: inline;} 		/* メニューバー */
		#ctrlbox li[data-pk="y"] > .pickoff{ display: none; }		/* メニューバー */
		article[data-pickuped="y"] > div> ul> li> .pickon { display: inline; }
		article[data-pickuped="y"] > div> ul> li> .pickoff{ display: none; }

		/* レスメニュー上のツリー */
		.treeon { display: inline; }
		.treeoff{ display: none; }
		article[data-treed="y"] > div > ul > li > ul > li> .treeon { display: none; }
		article[data-treed="y"] > div > ul > li > ul > li> .treeoff{ display: inline; }

		/* トラッキング */
		.trackon { display: inline; }
		.trackoff{ display: none; }
		.trackpop{ display: none; }
		article[data-track^="m"] > div > ul > li > .trackon { display: none; }
		article[data-track^="m"] > div > ul > li > .trackoff{ display: inline; }
		article[data-track^="m"] > div > ul > li > ul > li .trackpop { display: inline; }
		
		/* レスメニューの画像展開 */
		.imgon { display: none; }
		article[data-has-image="y"] > div > ul > li.imgon { display: list-item; }

		/* 逆参照がないとき、表示しない(あるときはスクリプトから制御) */
		.menu .resto { display: none; }

		/* 新着インジケータ */
		.nron { display: none; }
		.nroff{ display: inline; }
		body[data-has-new="y"] .nron { display: inline; }
		body[data-has-new="y"] .nroff{ display: none; }

		/* 自動モード */
		.icon_automore { background-image: -moz-image-rect(url(buttons.png),  0, 48, 16, 32); }
		body[data-autoload="y"] .icon_automore { background-image: -moz-image-rect(url(buttons.png),  0, 64, 16, 48); }
		body[data-autoload="y"] .icon_more
		{
			-moz-animation: turnImage 1s linear infinite;
		}


article article
{
	margin-left: 2em;
}
/* レス本体 */
.ct
{
	margin: 6px 1em;
	float: left;
}
	article[data-track^="m"] > .ct
	{
		border-radius: 6px;
		margin: 3px .5em;
		padding: 3px .5em;
	}
	article[data-track^="m"] > .ct { background-color: #DFF; } 
	article[data-track="m0"] > .ct { background-color: #DDF; } 
	article[data-track="m1"] > .ct { background-color: #DFD; } 
	article[data-track="m2"] > .ct { background-color: #FDD; } 

/* タブ */
.tabContainer
{
}
.tabButtons
{
}
.tabButtons > button
{
	border: solid 1px #000;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: solid 4px #99F;
	background-color: #FFF;
	margin-left: 2px;
	font-size: 70%;
}
.tabPages
{
	padding-top: 6px;		/* この6pxはレスのh2のマージン相殺分*/
	background-color: #FFF;
}



/* ポップアップ */
.popup
{
	position: absolute;
	border-left: 12px solid rgba(255,255,192,0.95);
	border-top: 12px solid transparent;
	z-index: 1250;
	left: -10000px;
	top:  -10000px;
}
.popup[data-fixed-popup="y"]
{
	position: fixed;
}
.popup > *
{
	float: left;
	background: rgba(255,255,192,0.95);
	padding: 0 12px 0px 12px;
	border-radius: 8px;
	box-shadow: 3px 5px 5px 0px #000;
	overflow: auto;
}
.popup > nav
{
	padding: 6px 2px;
}
/* スレタイのポップアップ */
.threadtitlePopup
{
	font-size: 16px;
	margin: 0px;
}
	.threadtitlePopup:before
	{
		font-size: 16px;
		content: "[" attr(data-board) "]" attr(data-thread);
	}
	.threadtitlePopup > input
	{
		width: 16px;
		height: 16px;
		border: none;
		margin-left: 4px;
	}
	
.ithumbcontainer
{
}
	.popup .ithumbcontainer
	{
		margin: 6px;
	}
	.ithumbcontainer[data-state="loading"]
	{
		background: url("loading.gif") center center no-repeat;
		width: 32px;
		height: 32px;
		display: block;
	}
	.ithumbcontainer[data-state="error"]
	{
		background: url("error.png") center center no-repeat;
		width: 32px;
		height: 32px;
		display: block;
	}


.popup > div > article
{
	font-size: 80%;
}
/* ギアモーポップアップ */
.popup[data-gear-enchanted="y"]
{
	border-left-color: #CFF;
}
.popup[data-gear-enchanted="y"] > div
{
	background-color: #CFF;
}
.popup[data-gear-enchanted="y"]  #RMenu_Gear
{
	display: none;
}

/* フローティングポップアップ */
.popup[data-floating-popup="y"]
{
	opacity: 0.2;
	border: none;
	border-top: solid 12px #CCF;
	box-shadow: 8px 8px 4px 0px #000;
}
.popup[data-floating-popup="y"]:after
{
	content: attr(data-popup-caption);
	position:absolute;
	left: 4px;
	top: -11px;
	font-size: 10px;
	white-space:nowrap;
	overflow: hidden;
}

.popup[data-floating-popup="y"]:hover
{
	opacity: 1;
}
.popup[data-floating-popup="y"] > div
{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
/* Outlink展開 */
.outLinkPreview
{
	margin: 0 16px;
	padding: 4px;
	border-radius: 8px;
	border: solid 1px #888;
	display: table;
	margin-left: auto;
	float: rigth;
}
.outLinkPreview > div
{
	display: inline;
	padding: 2px;
}

/* 検索 */
.popup[data-finder="y"] { opacity: 0.5; }
.popup[data-finder="y"]:hover { opacity: 1;}

#finder
{
}
#fform
{
	margin-top: 0.5em;
}
#fform > regend { font-size: 75%; }
body[data-express-mode="y"] { background-color: #FEE; } 
body[data-express-mode="y"] > #resContainer > article { display: none; }
body[data-express-mode="y"] > #resContainer > article[data-express="y"]{ display: block !important; }
#fformerr { font-size: 70%; color: red }
.only_expressMode { display: none; }
body[data-express-mode="y"] .only_expressMode { display: inherit; }

/* Viewer */
#ViewerContainer
{
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	z-index: 1000;
}
#ViewerContainer > div
{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
}
#ViewerContainer > div[data-cursor="hide"]
{
	cursor: url("transparent.png"), default;
}
#ViewerCtrl
{
	position: absolute;
	display: block;
	left: 4px;
	top: 4px;
	border: solid 2px #FFF;
	border-radius: 8px;
	padding: 4px 4px;
	background-color: rgba(0,0,0,.5);
	color: #FFF;
	font-family: monospace;
	font-weight: bold;
	text-align: left;

	-moz-animation: fadeout 3s 0s linear 1;
	-moz-animation-fill-mode: forwards;
}
	#ViewerCtrl[data-refresh-state="refresh"]
	{
		-moz-animation: none;
	}
	#ViewerCtrl:hover
	{
		-moz-animation: none;
	}
	#viewerState{}
	#viewerCtrls{}
	#viewerCtrls > button
	{
		border-width: 2px;
		width: 20px;
		height: 20px;
	}
	#viewerCtrls > button[name="home"]{  background-image: -moz-image-rect(url(buttons.png), 64, 64, 80, 48); margin-right: 20px;}
	#viewerCtrls > button[name="first"]{ background-image: -moz-image-rect(url(buttons.png), 64, 48, 80, 32); }
	#viewerCtrls > button[name="prev"]{  background-image: -moz-image-rect(url(buttons.png), 64,112, 80, 96); }
	#viewerCtrls > button[name="next"]{  background-image: -moz-image-rect(url(buttons.png), 64, 96, 80, 80); }
	#viewerCtrls > button[name="last"]{  background-image: -moz-image-rect(url(buttons.png), 64, 80, 80, 64); }
	#viewerCtrls > button[name="auto"]{  background-image: -moz-image-rect(url(buttons.png), 64, 16, 80,  0); margin-left: 20px; }
	#viewerCtrls[data-auto="y"] > button[name="auto"]{background-image: -moz-image-rect(url(buttons.png), 64, 32, 80, 16);  }
	#viewerCtrls > button[name="close"]{ background-image: -moz-image-rect(url(buttons.png), 16, 80, 32, 64); margin-left: 20px;}

#viewerHomeCtrl
{
	border: solid 4px #FFF;
	border-radius: 24px;
	background-color: #006;
	padding: 16px;
	width: 140px;
	margin: auto;
}
	#viewerHomeCtrl:after
	{
		color: #FFF;
		font-family: "Arial Black", sans-serif;
		content: attr(data-images) "Images.";
	}
	#viewerHomeCtrl[data-images="0"]:after
	{
		content: "NoImages.";
	}
	#viewerHomeCtrl>button
	{
		width: 48px;
		height: 48px;
		border: none;
		margin: auto;
		background-color: transparent;
	}

	#viewerHomeCtrl>button[name="play"] { background-image: -moz-image-rect(url(buttons_viewer.png), 0, 96, 48, 48); }
	#viewerHomeCtrl>button[name="play"]:hover { background-image: -moz-image-rect(url(buttons_viewer.png), 0, 48, 48, 0); }
	#viewerHomeCtrl[data-images="0"]>button[name="play"]:hover { background-image: -moz-image-rect(url(buttons_viewer.png), 0, 96, 48, 48); }

	#viewerHomeCtrl>button[name="auto"] { background-image: -moz-image-rect(url(buttons_viewer.png), 0, 192, 48, 144); margin-left: 8px; }
	#viewerHomeCtrl>button[name="auto"]:hover { background-image: -moz-image-rect(url(buttons_viewer.png), 0, 144, 48, 96);; }
	#viewerHomeCtrl[data-images="0"]>button[name="play"]:hover { background-image: -moz-image-rect(url(buttons_viewer.png), 0, 192, 48, 144); }

/* ナビゲーション */
#navigation
{
	font-size: 70%;
}
	#navigation h1
	{
		font-size: 100%;
		border-radius: 4px;
		background-color: #CCF;
		width: 8em;
		text-align: center;
	}
	#navigation ul
	{
		list-style-type: none;
	}
	#navigation li
	{
		border-radius: 4px;
		text-align: center;
		font-family: monospace;
	}
	#navigation li:hover
	{
		background-color: #FCC;
	}
	#navigation input
	{
		padding: 0;
	}
	.navprevthread, .navnextthread{ display: none; }
	body[data-next-thread^="h"] .navnextthread { display: block; }
	body[data-prev-thread^="h"] .navprevthread { display: block; }

/* コンフィギュレータ */
#configulator
{
	padding-top: 4px;
}
	#prefpagelist
	{
		margin-bottom: 4px;
	}
	#prefpagelist > input[type="submit"]
	{
		border: none;
		content: "";
		width: 32px;
		height: 32px;
	}
	#prefpagelist > input[name="functions"] { background-image: -moz-image-rect(url(buttons_pref.png), 0, 32, 32, 0);}
	#prefpagelist > input[name="images"]    { background-image: -moz-image-rect(url(buttons_pref.png), 0, 64, 32, 32);}
	#prefpagelist > input[name="popups"]    { background-image: -moz-image-rect(url(buttons_pref.png), 0, 96, 32, 64);}
	#prefpagelist > input[name="loading"]   { background-image: -moz-image-rect(url(buttons_pref.png), 0, 128, 32, 96);}
	#prefpagelist > input[name="analyze"]   { background-image: -moz-image-rect(url(buttons_pref.png), 0, 160, 32, 128);}
	#prefpagelist > input[name="thread"]    { background-image: -moz-image-rect(url(buttons_pref.png), 0, 192, 32, 160);}
	.prefpage
	{
		padding-bottom: 4px;
	}
	.prefpage > fieldset
	{
		border-radius: 8px;
		padding: 4px;
	}
	.prefpage > fieldset > legend
	{
		font-size: 75%;
		font-weight: bold;
	}
	input[data-validate-error="y"] { background-color: #FCC; }
	input.strlen { width: 3em; }
	input.resno  { width: 3em; }
	input.msec   { width: 4em; }
	input.notice { width: 3em; }
	input.px     { width: 3em; }
	input.sec    { width: 2em; }
	input.regexp { width: 26em;}
	input.scroll { width: 2em; }
	.prefpage > fieldset  li
	{
		list-style-type: square;
		list-style-position: inside;
	}

/* Diagnostics */
.bar
{
	box-sizing: content-box;
	border: solid 1px #000;
}
	.sz50 { width: 50px; }
	.sz00 { width: 100px; }
	.sz200 { width: 200px; }
	.sz250 { width: 250px; }
	.sz500 { width: 500px; }
	.sz640 { width: 640px; }

	.bar > div
	{
		background-color: #0F0;
	}
	/*
		.bar_rank1 { background-color: red !important; }
	*/
#pref_report
{
}
#pref_report > div
{
	max-height: 25em;
	font-size: 70%;
	overflow-y: auto;
	border: solid 1px #000;
}

	#pref_report table
	{
	}
	#diary_hour th
	{
		white-space:nowrap;
	}
	.diag_id, .diary_year, .diary_month, .diary_day
	{
		cursor: pointer;
	}
	.diag_id
	{
		font-family: monospace;
	}
	.diary_year
	{
		background-color: #CFC;
	}
		.diary_year:after
		{
			content: "年";
		}
	.diary_month
	{
		background-color: #9F9;
	}
		.diary_month:after
		{
			content: "月";
		}
	.diary_day
	{
		background-color: #6F6;
	}
		.diary_day:after
		{
			content: "日";
		}
	.diary_hour
	{
		background-color: #3F3;
	}
		.diary_hour:after
		{
			content: "時台";
		}
	.diary_amount
	{
	}
		.diary_amount:after
		{
			content: "件";
		}

/* トラッキング情報 */
#pref_tracker
{
	font-size: 70%;
}
	#trackerInfo
	{
		font-size: 70%;
		width: 100%;
		border-collapse: collapse;
	}
	#trackerInfo th, #trackerInfo td
	{
		border: solid 1px #000;
	}
	.trrep_trhead{ background-color: #CCF; text-align: left; }
	.trrep_trhead:before { content: "TrackerID "; }
	.trrep_blank { width: 16px; border: none !important;}
	.trrep_idhead{ background-color: #CFC; }
	.trrep_idhead:before { content: "適合ID"; }
	.trrep_id { font-family: monospace; text-align: center; background-color: #EFEFEF; }
	.trrep_triphead{ background-color: #CFC; }
	.trrep_triphead:before { content: "適合トリップ"; }
	.trrep_trip { font-family: monospace; text-align: center; background-color: #EFEFEF; }
	.trrep_idshead{ background-color: #CFC; }
	.trrep_idshead:before { content: "適合レス番号(表示範囲内)"; }
	.trrep_ids { font-family: monospace; text-align: center; background-color: #EFEFEF; }
	.trrep_no { color: #666; text-align: center;  background-color: #EFEFEF; }
	.trrep_no:before { content: "なし"; }

/* 通知領域 */
#noticeContainer
{
	position: fixed;
	left: 0;
	bottom: 0;
	margin: 8px;
	border-radius: 8px;
	border: solid 3px rgba(255,255,255,1);
	background-color: rgba(0,64,0,0.8);
	padding: 4px;
	font-size: 70%;
	font-family: "Arial Black", sans-serif;
	color: #FFF;
	-moz-animation: fadeoutAndClose 3s 0s linear 1;
	-moz-animation-fill-mode: forwards;
}
	#noticeContainer[data-refresh-state="refresh"]
	{
		-moz-animation: none;
	}

/* オーバーレイ */
.overlay
{
	display:table;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1500;
	background-color: rgba(0,0,0,0.9);
}
	.overlay>div
	{
		display: table-cell;
		text-align:center;
		vertical-align:middle;
	}
	.overlay iframe
	{
		width: 90%;
		height: 90%;
		background-color: #FFF;
	}

/* フッタメニュー */
#footmenu
{
	margin-top: 2em;
	border-top: dotted 2px #CCC;
	text-align: right;
}
	#footmenu button
	{
		width: 16px;
		height: 16px;
		margin: 0px 1px;
		border: none;
		background-color: transparent;
	}

/* フッタ */
#footer
{
	color: #CCC;
	font-size: 10px;
	text-align: left;
	margin-left: 8px;
	padding-top: 15em;
}

/* アニメーションキーフレーム */
@-moz-keyframes fadeout
{
	0% { opacity: 1; }
	30% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes fadeoutAndClose
{
	0% { opacity: 1; }
	30% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes turnImage
{
	/* rotateYの代わりにrotateZにすると、時計回りにぐるぐる回る。 */
	0% { -moz-transform: rotateY(0) ;}
	100% {-moz-transform: rotateY(360deg) ; }
}

@-moz-keyframes focusFade
{
	0%   { background-color: rgba(255,192,192,1.0); box-shadow: 0px 12px 16px 8px rgba(255,192,192,1.0);}
	100% { background-color: rgba(255,192,192,0.0); box-shadow: 0px 12px 16px 8px rgba(255,192,192,0.0);}
}

/* */

.icon_template      { background-image: -moz-image-rect(url(buttons.png),  0, 16, 16,  0); }
.icon_more          { background-image: -moz-image-rect(url(buttons.png),  0, 32, 16, 16); }
.icon_beginautomore { background-image: -moz-image-rect(url(buttons.png),  0, 48, 16, 32); }
.icon_endautomore   { background-image: -moz-image-rect(url(buttons.png),  0, 64, 16, 48); }
.icon_backward      { background-image: -moz-image-rect(url(buttons.png),  0, 80, 16, 64); }
.icon_gear          { background-image: -moz-image-rect(url(buttons.png),  0, 96, 16, 80); }
.icon_morenew       { background-image: -moz-image-rect(url(buttons.png),  0,112, 16, 96); }
.icon_istop         { background-image: -moz-image-rect(url(buttons.png),  0,128, 16,112); }
body[data-deployed-all="y"] .icon_more { background-image: -moz-image-rect(url(buttons.png),  0,112, 16, 96); }
body[data-deployed-first="y"] .icon_backward { display:none; }

.icon_bookmark       { background-image: -moz-image-rect(url(buttons.png), 16, 16, 32,  0); }
.icon_bookmarkb      { background-image: -moz-image-rect(url(buttons.png), 16, 32, 32, 16); }
.icon_bookmarka      { background-image: -moz-image-rect(url(buttons.png), 16, 48, 32, 32); }
.icon_bookmarkn      { background-image: -moz-image-rect(url(buttons.png), 16, 64, 32, 48); }
.icon_close          { background-image: -moz-image-rect(url(buttons.png), 16, 80, 32, 64); }
.icon_error          { background-image: -moz-image-rect(url(buttons.png), 16, 96, 32, 80); }
.icon_getthreadtitle { background-image: -moz-image-rect(url(buttons.png), 16,112, 32, 96); }
.icon_settonextthread{ background-image: -moz-image-rect(url(buttons.png), 16,128, 32,112); }

.icon_new      { background-image: -moz-image-rect(url(buttons.png), 32, 16, 48,  0); }
.icon_nonew    { background-image: -moz-image-rect(url(buttons.png), 32, 32, 48, 16); }
.icon_pickup   { background-image: -moz-image-rect(url(buttons.png), 32, 48, 48, 32); }
.icon_expickup { background-image: -moz-image-rect(url(buttons.png), 32, 64, 48, 48); }
.icon_nopickup { background-image: -moz-image-rect(url(buttons.png), 32, 80, 48, 64); }
.icon_bad      { background-image: -moz-image-rect(url(buttons.png), 32, 96, 48, 80); }
.icon_image    { background-image: -moz-image-rect(url(buttons.png), 32,112, 48, 96); }
.icon_eximage  { background-image: -moz-image-rect(url(buttons.png), 32,128, 48,112); }

.icon_popupref      { background-image: -moz-image-rect(url(buttons.png), 48, 16, 64,  0); }
.icon_exref         { background-image: -moz-image-rect(url(buttons.png), 48, 32, 64, 16); }
.icon_tracking      { background-image: -moz-image-rect(url(buttons.png), 48, 48, 64, 32); }
.icon_notracking    { background-image: -moz-image-rect(url(buttons.png), 48, 64, 64, 48); }
.icon_popuptracking { background-image: -moz-image-rect(url(buttons.png), 48, 80, 64, 64); }
.icon_resto         { background-image: -moz-image-rect(url(buttons.png), 48, 96, 64, 80); }
.icon_tree          { background-image: -moz-image-rect(url(buttons.png), 48,112, 64, 96); }
.icon_notree        { background-image: -moz-image-rect(url(buttons.png), 48,128, 64,112); }

.icon_viewauto  { background-image: -moz-image-rect(url(buttons.png), 64, 16, 80,  0); }
.icon_viewautoa { background-image: -moz-image-rect(url(buttons.png), 64, 32, 80, 16); }
.icon_viewfirst { background-image: -moz-image-rect(url(buttons.png), 64, 48, 80, 32); }
.icon_viewhome  { background-image: -moz-image-rect(url(buttons.png), 64, 64, 80, 48); }
.icon_viewlast  { background-image: -moz-image-rect(url(buttons.png), 64, 80, 80, 64); }
.icon_viewnext  { background-image: -moz-image-rect(url(buttons.png), 64, 96, 80, 80); }
.icon_viewprev  { background-image: -moz-image-rect(url(buttons.png), 64,112, 80, 96); }
/* .icon_blank  { background-image: -moz-image-rect(url(buttons.png), 64,128, 80,112); } */

.icon_write     { background-image: -moz-image-rect(url(buttons.png), 80, 16, 96,  0); }
.icon_config    { background-image: -moz-image-rect(url(buttons.png), 80, 32, 96, 16); }
.icon_find      { background-image: -moz-image-rect(url(buttons.png), 80, 48, 96, 32); }
.icon_navi      { background-image: -moz-image-rect(url(buttons.png), 80, 64, 96, 48); } */
/* .icon_blank  { background-image: -moz-image-rect(url(buttons.png), 80, 80, 96, 64); } */
/* .icon_blank  { background-image: -moz-image-rect(url(buttons.png), 80, 96, 96, 80); } */
/* .icon_blank  { background-image: -moz-image-rect(url(buttons.png), 80,112, 96, 96); } */
/* .icon_blank   { background-image: -moz-image-rect(url(buttons.png), 80,128, 96,112); } */
